<!--#include virtual="/ssi/up.html" -->

<center>
<table border="0" width="100%">
 <tr height="150">
  <td colsapn="3">&nbsp</td>
 </tr>
 <tr>
  <td>&nbsp;</td>
  <td>

    <table class="cell_border" background="/img/back_form.jpg" width="70%">
     <tr> <td align="left"> <!-- VAR ERROR_TEXT --></td> </tr>
     <tr> <td> <hr></td> </tr>
     <tr> <td> <a href="/">Вход в систему...</a></td> </tr>

    </table> 

  </td>
  <td>&nbsp;</td>
 <tr height="500">
  <td colsapn="3">&nbsp</td>
 </tr>
</table>
</center>

<!--#include virtual="/ssi/down.html" -->