
<!--#include virtual="/ssi/up.html" -->
<!--#include virtual="/ssi/main_menu.html" -->

<br>
<!--#include virtual="/reports/menu.html" -->

<script>
var oper_sel_arr = new Array();
<!-- VAR OPER_SEL_ARRAY -->

var wp_sel_arr = new Array();
wp_sel_arr[0]=new selector('...',0,1);
<!-- VAR WP_SEL_ARRAY -->

var q_sel_arr = new Array();
q_sel_arr[0]=new selector('...',0,1);
<!-- VAR Q_SEL_ARRAY -->


</script>

<br>
<center>
<table width="95%" border="0">
<tr><td>

<form action="/cmd" method="post" name="search">
<input type="hidden" name="act" value="report.full">
<input type="hidden" name="oid" value="<!-- VAR OID -->">
<input type="hidden" id="timezone_id" name="timezone_offset" value="">

<h1><center>Полный отчёт по отделению <!-- VAR OFNAME --></center></h1>


<table width="100%" cellpadding="5" cellspacing="0" border="0" class="thead_cell">
<tr>
 <td width="100%" style="border-bottom:2px solid black; text-align:left;">
       <a href="JavaScript: calendar_show('search','begin_d','begin_m','begin_y');">C</a>
       <input type="text" maxlength="2" name="begin_d" value="<!-- VAR BEGIN_D -->" style="width:36px;">/
       <input type="text" maxlength="2" name="begin_m" value="<!-- VAR BEGIN_M -->" style="width:36px;">/
       <input type="text" maxlength="4" name="begin_y" value="<!-- VAR BEGIN_Y -->" style="width:64px;">
       &nbsp;
       <input type="text" maxlength="2" name="begin_h" value="<!-- VAR BEGIN_H -->" style="width:36px;">:
       <input type="text" maxlength="2" name="begin_n" value="<!-- VAR BEGIN_N -->" style="width:36px;">
       &nbsp;&nbsp;&nbsp;
       <a href="JavaScript: calendar_show('search','end_d','end_m','end_y');">по</a>
       <input type="text" maxlength="2" name="end_d" value="<!-- VAR END_D -->" style="width:36px;">/
       <input type="text" maxlength="2" name="end_m" value="<!-- VAR END_M -->" style="width:36px;">/
       <input type="text" maxlength="4" name="end_y" value="<!-- VAR END_Y -->" style="width:64px;">
       &nbsp;
       <input type="text" maxlength="2" name="end_h" value="<!-- VAR END_H -->" style="width:36px;">:
       <input type="text" maxlength="2" name="end_n" value="<!-- VAR END_N -->" style="width:36px;">
 </td>
 <td style="border-bottom:2px solid black;"><input type="submit" name="search" value="ОК"</td>
</tr>
<tr>
 <td colspan="2" style="border-bottom: 2px solid black;">

   <table border="0" width="100%">
    <tr>
     <td>Оператор:</td>
     <td>Рабочее место:</td>
     <td>Очередь:</td>
     <td>Время ожидания:</td>
     <td>Время обслуживания:</td>
     <td>Статус:</td>
    </tr>
    <tr>
     <td><div name="oper_sel_name" id="oper_sel_id" onclick="JavaScript: show_sel(oper_sel_arr, 'oper')" style="text-decoration: underline;"><!-- VAR OPER_SEL_TEXT --></div>
         <input type="hidden" value="" name="oper_sel_ids" id="oper_sel_ids">
     </td>
     <td><div name="wp_sel_name" id="wp_sel_id" onclick="JavaScript: show_sel(wp_sel_arr, 'wp')" style="text-decoration: underline;">...</div>
         <input type="hidden" value="" name="wp_sel_ids" id="wp_sel_ids">
     </td>
     <td><div name="q_sel_name" id="q_sel_id" onclick="JavaScript: show_sel(q_sel_arr, 'q')" style="text-decoration: underline;">...</div>
         <input type="hidden" value="" name="q_sel_ids" id="q_sel_ids">
     </td>
     <td><select name="wait_time_cond">
            <option>&nbsp;</option>
            <option value="more" <!-- VAR WAIT_TIME_CONDmore -->>></option>
            <option value="less" <!-- VAR WAIT_TIME_CONDless -->><</option>
            <option value="eq" <!-- VAR WAIT_TIME_CONDeq -->>=</option>            
          </select>
          <input type="text" maxlength="2" name="wait_time_search" value="<!-- VAR WAIT_TIME_SEARCH -->" style="width:36px;"> мин.
     </td>
     <td><select name="serv_time_cond">
            <option>&nbsp;</option>
            <option value="more" <!-- VAR SERV_TIME_CONDmore -->>></option>
            <option value="less" <!-- VAR SERV_TIME_CONDless -->><</option>
            <option value="eq" <!-- VAR SERV_TIME_CONDeq -->>=</option>            
          </select> 
          <input type="text" maxlength="2" name="serv_time_search" value="<!-- VAR SERV_TIME_SEARCH -->" style="width:36px;"> мин.
     </td>
     <td><select name="proc_code_cond">
            <option>&nbsp;</option>
            <option value="proc" <!-- VAR PROC_CODE_CONDproc -->>Обслужен</option>
            <option value="to_q" <!-- VAR PROC_CODE_CONDto_q -->>Перенаправлен/Возврат</option>
            <option value="abort" <!-- VAR PROC_CODE_CONDabort -->>Неявка</option>
            <option value="err" <!-- VAR PROC_CODE_CONDerr -->>Закрыт системой</option>
          </select>           
     </td>
    </tr>
    <tr>
     <td><div id="oper_sel_text"></div></td>
     <td><div id="wp_sel_text"></div></td>
     <td><div id="q_sel_text"></div></td>
     <td></td>
     <td></td>
    </tr>
   </table>
 </td>
</tr>
<tr>
 <td colspan="2" style="text-align:left;">
  <nobr>
   Вид отчета:
   <input type="radio" name="stat_mode" value="only_all" <!-- VAR STAT_MODEonly_all -->>Список талонов
   <input type="radio" name="stat_mode" value="by_opers" <!-- VAR STAT_MODEby_opers --> onClick="JavaScript: ">По операторам
   <input type="radio" name="stat_mode" value="by_qs" <!-- VAR STAT_MODEby_qs -->>По очередям
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="checkbox" name="hide_tickets" value="yes" <!-- VAR HIDE_TICKETS -->>Не показывать талоны
  </nobr>
 </td>
</tr>
</table>

</form>

<script>
 sel_init(oper_sel_arr,'oper_sel_id','oper_sel_ids');
 sel_init(wp_sel_arr,'wp_sel_id','wp_sel_ids');
 sel_init(q_sel_arr,'q_sel_id','q_sel_ids');
 set_timezone('timezone_id');
</script>

<!-- SECTION REP_BEGIN -->
<h2>Отделение <!-- VAR OFNAME --></center></h2>

<!-- SECTION GOPER_BEGIN -->
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
 <td class="column_header">Оператор</td>
 <td class="column_header">Всего обслужено</td>
 <td class="column_header">Общая длительность обслуживания</td>
 <td class="column_header">Средняя длительность обслуживания</td>
</tr>
<!-- SECTION GOPER_LINE -->
<tr>
 <td class="table_body_left" style="text-align:left;"><!-- VAR NAME --></td>
 <td class="table_body"><!-- VAR COUNT --></td>
 <td class="table_body"><!-- VAR SUM_SERV_TIME --></td>
 <td class="table_body_right"><!-- VAR AVG_SERV_TIME --></td>
</tr>
<!-- SECTION GOPER_END -->
<tr>
 <td class="column_header">ИТОГО</td>
 <td class="column_header" style="text-align:right;"><!-- VAR COUNT --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR SUM_SERV_TIME --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR AVG_SERV_TIME --></td>
</tr>
</table>

<!-- SECTION GOPERT_LINE -->
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
 <td class="column_header" width="100%"><h2>Оператор: <!-- VAR NAME --></h2></td>
 <td class="column_header"><nobr>
 Всего обслужено: <!-- VAR COUNT --><br>
 Общая длительность обслуживания: <!-- VAR SUM_SERV_TIME --><br>
 Средняя длительность обслуживания: <!-- VAR AVG_SERV_TIME --></nobr></td>
</tr>
</table>

<!-- SECTION GQ_BEGIN -->
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
 <td class="column_header">Очередь</td>
 <td class="column_header">Всего обслужено</td>
 <td class="column_header">Общая длительность ожидания</td>
 <td class="column_header">Средняя длительность ожидания</td>
 <td class="column_header">Общая длительность обслуживания</td>
 <td class="column_header">Средняя длительность обслуживания</td>
</tr>
<!-- SECTION GQ_LINE -->
<tr>
 <td class="table_body_left" style="text-align:left;"><!-- VAR NAME --></td>
 <td class="table_body" style="text-align:right;"><!-- VAR COUNT --></td>
 <td class="table_body" style="text-align:right;"><!-- VAR SUM_WAIT_TIME --></td>
 <td class="table_body" style="text-align:right;"><!-- VAR AVG_WAIT_TIME --></td>
 <td class="table_body" style="text-align:right;"><!-- VAR SUM_SERV_TIME --></td>
 <td class="table_body_right" style="text-align:right;"><!-- VAR AVG_SERV_TIME --></td>
</tr>
<!-- SECTION GQ_END -->
<tr>
 <td class="column_header">ИТОГО</td>
 <td class="column_header" style="text-align:right;"><!-- VAR COUNT --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR SUM_WAIT_TIME --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR AVG_WAIT_TIME --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR SUM_SERV_TIME --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR AVG_SERV_TIME --></td>
</tr>
</table>

<!-- SECTION GQT_LINE -->
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
 <td class="column_header" width="100%"><h2>Очередь: <!-- VAR NAME --></h2></td>
 <td class="column_header"><nobr>
 Всего обслужено: <!-- VAR COUNT --><br>
 Общая длительность ожидания: <!-- VAR SUM_WAIT_TIME --><br>
 Средняя длительность ожидания: <!-- VAR AVG_WAIT_TIME --><br>
 Общая длительность обслуживания: <!-- VAR SUM_SERV_TIME --><br>
 Средняя длительность обслуживания: <!-- VAR AVG_SERV_TIME --></nobr></td>
</tr>
</table>

<!-- SECTION TICKETS_BEGIN -->
<table width="100%" border="0" cellpadding="5" cellspacing="0"><tbody>
<tr>
 <td class="column_header">Дата</td>
 <td class="column_header">№ талона</td>
 <td class="column_header">Оператор</td>
 <td class="column_header">Рабочее место</td> 
 <td class="column_header">Очередь</td>
 <td class="column_header">Время постановки в очередь</td>
 <td class="column_header">Начало обслуживания</td>
 <td class="column_header">Окончание обслуживания</td>
 <td class="column_header">Длительность ожидания</td>
 <td class="column_header">Длительность обслуживания</td>
 <td class="column_header">Результат</td>
</tr>

<!-- SECTION TICKETS_LINE -->
<tr>
 <td class="table_body_left"><!-- VAR PUT_DATE --></td>
 <td class="table_body"><!-- VAR TALON --></td>
 <td class="table_body"><!-- VAR OPER_NAME --></td>
 <td class="table_body"><!-- VAR WPNAME --></td>
 <td class="table_body"><!-- VAR QNAME --></td>
 <td class="table_body"><!-- VAR PUT_TIME --></td>
 <td class="table_body"><!-- VAR GET_TIME --></td>
 <td class="table_body"><!-- VAR END_SERV_TIME --></td>
 <td class="table_body"><!-- VAR WAIT_TIME --></td>
 <td class="table_body"><!-- VAR SERV_TIME --></td>
 <td class="table_body_right"><!-- VAR PROC_RESULT --></td>
</tr>

<!-- SECTION TICKETS_END -->
</table>

<br>
<br>
<!-- SECTION SUM -->

<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
 <td class="column_header" width="100%"><h2>Общие показатели</h2></td>
 <td class="column_header"><nobr>
 Всего обслужено: <!-- VAR COUNT --><br>
 Общая длительность обслуживания: <!-- VAR SUM_SERV_TIME --><br>
 Средняя длительность обслуживания: <!-- VAR AVG_SERV_TIME --><br>
 Общая длительность ожидания: <!-- VAR SUM_WAIT_TIME --><br>
 Средняя длительность ожидания: <!-- VAR AVG_WAIT_TIME -->
 </nobr></td>
</tr>
</table>

<!-- SECTION END -->

</td></tr>
</table>
</center>



<!--#include virtual="/ssi/down.html" -->

