﻿<!--#include virtual="/ssi/up.html" -->

<!-- <Link type="text/css" rel="stylesheet" href="style.css"> -->

<script>
function check_fill()
{
   if (document.forms['terminal_form'].dns_name.value=='') { alert('Введите сетевое (DNS) имя.'); return false; }
   if (document.forms['terminal_form'].vname.value=='') { alert('Введите название.'); return false; }
   if (document.forms['terminal_form'].place.value=='') { alert('Введите расположение.'); return false; }

   reload_parent(500);
   return true;
}
</script>

<br>
<center>

<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
<tr>
<td>

<form action="/cmd" method="post" name="terminal_form" onsubmit="return check_fill();">
<input type="hidden" name="act" value="terminal.apply">
<input type="hidden" name="id" value="<!-- VAR ID -->">

<h1>Терминал</h1>
<table border="0" width="100%">

 <tr>
  <td><nobr>Сетевое (DNS) имя:</nobr></td>
  <td><input type="text" name="dns_name" value="<!-- VAR DNS_NAME -->" class="in_line" size="32" maxlength="64"></td>
 </tr>

 <tr>
  <td><nobr>Название:</nobr></td>
  <td width="100%"><input type="text" name="vname" value="<!-- VAR VNAME -->" class="in_line" size="32" maxlength="64"></td>
 </tr>

 <tr>
  <td><nobr>Расположение:</nobr></td>
  <td width="100%"><input type="text" name="place" value="<!-- VAR PLACE -->" class="in_line" size="32" maxlength="128"></td>
 </tr>
 
 <tr>
  <td><nobr>Использовать принтер (сетевое имя/адрес):</nobr></td>
  <td width="100%"><input type="text" name="printer_name" value="<!-- VAR PRINTER_NAME -->" class="in_line" size="32" maxlength="64"></td>
 </tr>
 
 <tr>
  <td><nobr>Использовать сканер (сетевое имя/адрес):</nobr></td>
  <td width="100%"><input type="text" name="scanner_name" value="<!-- VAR SCANNER_NAME -->" class="in_line" size="32" maxlength="64"></td>
 </tr>
 
 <tr>
  <td><nobr>Поворачивать видео (градусы):</nobr></td>
  <td width="100%"><input type="text" name="video_rotate_angle" value="<!-- VAR VIDEO_ROTATE_ANGLE -->" class="in_line" size="4" maxlength="3"></td>
 </tr>

</table>

<br>

<center>
<input type="submit" name="ok" value="Готово" onClick="JavaScript: reload_parent(500)">
</center>

<br>
</form>

</td></tr>
</table>

</center>
<br>

<!--#include virtual="/ssi/down.html" -->
