<!--#include virtual="/ssi/up.html" -->
<!--#include virtual="/ssi/main_menu.html" -->
<!--#include virtual="/adm/menu.html" -->

<br>
<center>
<table border="0" background="/img/back_form.jpg" width="95%" class="cell_border">
<tr><td align="center">
<h2><br><br><br><br><br>Администрирование системы.<br><br><br><br><br></h2>
</td>
</tr>
</table>
</center>

<!--#include virtual="/ssi/down.html" -->
