<!--#access=admins { -->
<center>
<table border="0" background="/img/back_form.jpg" width="95%" class="cell_border" style="border-top:none;">
<tr>

  <td><nobr><a href="/cmd?act=constants_list.show" alt="Общесистемные настройки">Общесистемные настройки</a> |</nobr></td>
  
  <td><nobr><a href="/cmd?act=servers_list.show&show_ms=1&show_qs=1&show_hs=1" alt="Сервера">Сервера</a> |</nobr></td>

  <td><nobr><a href="/cmd?act=terminals_list.show" alt="Терминалы">Терминалы</a> |</nobr></td>
  
  <td><nobr><a href="/cmd?act=workstations_list.show" alt="Рабочие станции">Рабочие станции</a> |</nobr></td>
  
  <td><nobr><a href="/cmd?act=user_list.show" alt="Список пользователей системы">Пользователи и группы системы</a> |</nobr></td>

  <td width="100%"></td> 
</tr>
</table>
</center>
<!-- } -->
