<!--#include virtual="/ssi/up.html" -->

<script language="JavaScript">


function done()
{

 if (opener)
 {
    
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR index_f -->.value = document.forms['select'].index.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR city_f -->.value = document.forms['select'].city.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR street_f -->.value = document.forms['select'].street.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR house_f -->.value = document.forms['select'].house.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR corpus_f -->.value = document.forms['select'].corpus.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR flat_f -->.value = document.forms['select'].flat.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR phone_f -->.value = document.forms['select'].phone.value;

     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR full_f -->.value = '';
     
     if (document.forms['select'].index.value!='')
     {
        opener.document.forms['<!-- VAR form_name -->'].<!-- VAR full_f -->.value = document.forms['select'].index.value+', ';
     }

     if (document.forms['select'].city.value!='')
     {
        opener.document.forms['<!-- VAR form_name -->'].<!-- VAR full_f -->.value += document.forms['select'].city.value;
     }

     if (document.forms['select'].street.value!='')
     {
        if (document.forms['select'].city.value!='') 
        {
          opener.document.forms['<!-- VAR form_name -->'].<!-- VAR full_f -->.value += ', ';
        }
        
        opener.document.forms['<!-- VAR form_name -->'].<!-- VAR full_f -->.value += document.forms['select'].street.value;
     }
     
     if (document.forms['select'].house.value!='')
     {
        opener.document.forms['<!-- VAR form_name -->'].<!-- VAR full_f -->.value += ', '+document.forms['select'].house.value;
     }

     if (document.forms['select'].corpus.value!='')
     {
        if (document.forms['select'].house.value!='')
        {
           opener.document.forms['<!-- VAR form_name -->'].<!-- VAR full_f -->.value +='/'+document.forms['select'].corpus.value;
        } 
        else
        {
           opener.document.forms['<!-- VAR form_name -->'].<!-- VAR full_f -->.value +='0/'+document.forms['select'].corpus.value;
        }
     }

     if (document.forms['select'].flat.value!='')
     {
        if (document.forms['select'].house.value=='')
        {
           opener.document.forms['<!-- VAR form_name -->'].<!-- VAR full_f -->.value +=',';
        }
        opener.document.forms['<!-- VAR form_name -->'].<!-- VAR full_f -->.value +=', '+document.forms['select'].flat.value;         
     }

     if (document.forms['select'].phone.value!='')
     {
        opener.document.forms['<!-- VAR form_name -->'].<!-- VAR full_f -->.value +='. Тел: '+document.forms['select'].phone.value;
     }
    
 }

 close();
 return false;
}

</script>


<body>

<form name="select">
<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
 <tr>
  <td><nobr>Почтовый индекс</nobr></td>
  <td><input type="text" name="index" value="<!-- VAR index_v -->" class="in_line" size="6" maxlength="6"></td>
 </tr>
 <tr>
  <td>Город</td>
  <td><input type="text" name="city" value="<!-- VAR city_v -->" class="in_line" size="32" maxlength="32"></td>
 </tr>
 <tr>
  <td>Улица</td>
  <td><input type="text" name="street" value="<!-- VAR street_v -->" class="in_line" size="64" maxlength="64"></td>
 </tr>
 <tr>
  <td>Дом</td>
  <td><input type="text" name="house" value="<!-- VAR house_v -->" class="in_line" size="4" maxlength="4"></td>
 </tr>
 <tr>
  <td>Корпус/Строение</td>
  <td><input type="text" name="corpus" value="<!-- VAR corpus_v -->" class="in_line" size="4" maxlength="4"></td>
 <tr>
  <td>Квартира</td>
  <td><input type="text" name="flat" value="<!-- VAR flat_v -->" class="in_line" size="4" maxlength="4"></td>
 </tr>
 <tr>
  <td>Телефон</td>
  <td colspan="3"><input type="text" name="phone" value="<!-- VAR phone_v -->" class="in_line" size="11" maxlength="11"></td>
 </tr>
 <tr>
  <td colspan="2"><center><a href="#" onClick="done();return false;">Готово</a></center></td>
 </tr>
</table>
   
  </td>
</table>
</form>

<!--#include virtual="/ssi/down.html" -->