<!--#include virtual="/ssi/up.html" -->

<script language="JavaScript">


function done(day,month,year)
{
 if (day==0)
 {
    return false;
 }

 if (opener)
 {    
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR day_f -->.value = day
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR month_f -->.value = month;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR year_f -->.value = year;    
 }

 close();
 return false;
}

function prev()
{
  month=<!-- VAR MONTH -->;
  month--;
  
  year=<!-- VAR YEAR -->;
  
  if (month==0)
  {
     month=12;year--;
  }
  
  location.href="/cmd?act=calendar.show"+"&d=1&m="+month+"&y="+year+"&form_name=<!-- VAR form_name -->&day_f=<!-- VAR day_f -->&month_f=<!-- VAR month_f -->&year_f=<!-- VAR year_f -->";
}

function next()
{
  month=<!-- VAR MONTH -->;
  month++;
  
  year=<!-- VAR YEAR -->;
  
  if (month==13)
  {
    month=1;
	year++;
  }
 
  
  location.href="/cmd?act=calendar.show"+"&d=1&m="+month+"&y="+year+"&form_name=<!-- VAR form_name -->&day_f=<!-- VAR day_f -->&month_f=<!-- VAR month_f -->&year_f=<!-- VAR year_f -->";
}

</script>

<body>

<form name="calendar" action="/cmd" method="post">

<table width="95%" background="/img/back_form.jpg" border="0" cellpadding="0" cellspacing="0">
 <tr align="center">
   <td><input type="button" name="search" value="<<" style="width:30px; height:30px;" onClick="prev();"></td>
   <td width="100%"><!-- VAR MONTH_ST -->&nbsp;<!-- VAR YEAR --></td>
   <td><input type="button" name="search" value=">>" style="width:30px; height:30px;" onClick="next();"></td>
 </tr>
</table>

<table width="95%" background="/img/back_form.jpg" class="cell_border" cellpadding="0" cellspacing="0">
 <tr align="center">
   <td>&nbsp;</td>
   <td>Пн</td>
   <td>Вт</td>
   <td>Ср</td>
   <td>Чт</td>
   <td>Пт</td>
   <td>Сб</td>
   <td>Вс</td>
   <td>&nbsp;</td>
 </tr>
 
 <tr align="center">
   <td colspan="9">&nbsp;</td>
 </tr>
 
<!-- SECTION CROW -->
 <tr align="center">
   <td>&nbsp;</td>
   <td><input type="button" name="search" value="<!-- VAR PD1 -->" style="width:30px; height:30px; <!-- VAR FW1 -->" onClick="done(<!-- VAR D1 -->,<!-- VAR MONTH -->,<!-- VAR YEAR -->);"></td>
   <td><input type="button" name="search" value="<!-- VAR PD2 -->" style="width:30px; height:30px; <!-- VAR FW2 -->" onClick="done(<!-- VAR D2 -->,<!-- VAR MONTH -->,<!-- VAR YEAR -->);"></td>
   <td><input type="button" name="search" value="<!-- VAR PD3 -->" style="width:30px; height:30px; <!-- VAR FW3 -->" onClick="done(<!-- VAR D3 -->,<!-- VAR MONTH -->,<!-- VAR YEAR -->);"></td>
   <td><input type="button" name="search" value="<!-- VAR PD4 -->" style="width:30px; height:30px; <!-- VAR FW4 -->" onClick="done(<!-- VAR D4 -->,<!-- VAR MONTH -->,<!-- VAR YEAR -->);"></td>
   <td><input type="button" name="search" value="<!-- VAR PD5 -->" style="width:30px; height:30px; <!-- VAR FW5 -->" onClick="done(<!-- VAR D5 -->,<!-- VAR MONTH -->,<!-- VAR YEAR -->);"></td>
   <td><input type="button" name="search" value="<!-- VAR PD6 -->" style="width:30px; height:30px; <!-- VAR FW6 -->" onClick="done(<!-- VAR D6 -->,<!-- VAR MONTH -->,<!-- VAR YEAR -->);"></td>
   <td><input type="button" name="search" value="<!-- VAR PD7 -->" style="width:30px; height:30px; <!-- VAR FW7 -->" onClick="done(<!-- VAR D7 -->,<!-- VAR MONTH -->,<!-- VAR YEAR -->);"></td>
   <td>&nbsp;</td>
 </tr>
 
<!-- SECTION END -->
 <tr align="center">
   <td colspan="9">&nbsp;</td>
 </tr>
</table>

</form>

<!--#include virtual="/ssi/down.html" -->