<!--#include virtual="/ssi/up.html" -->

<script language="JavaScript">


function done()
{

 if (opener)
 {    
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR day_f -->.value = document.forms['select'].day.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR month_f -->.value = document.forms['select'].month.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR year_f -->.value = document.forms['select'].year.value;;    
 }

 close();
 return false;
}

function set_now()
{
    var now = new Date();
    document.forms['select'].day.value=now.getDate();
    document.forms['select'].month.value=now.getMonth()+1;
    document.forms['select'].year.value=now.getFullYear();
}

</script>

<body>

<form name="select">
<table width="95%" background="/img/back_form.jpg" class="cell_border">
<tr>
  <td><nobr>
   <select name="day">
    <option value="1" <!-- VAR d_1 -#>01</option>
    <option value="2" <!-- VAR d_2 -#>02</option>
    <option value="3" <!-- VAR d_3 -#>03</option>
    <option value="4" <!-- VAR d_4 -#>04</option>
    <option value="5" <!-- VAR d_5 -#>05</option>
    <option value="6" <!-- VAR d_6 -#>06</option>
    <option value="7" <!-- VAR d_7 -#>07</option>
    <option value="8" <!-- VAR d_8 -#>08</option>
    <option value="9" <!-- VAR d_9 -#>09</option>
    <option value="10" <!-- VAR d_10 -#>10</option>
    <option value="11" <!-- VAR d_11 -#>11</option>
    <option value="12" <!-- VAR d_12 -#>12</option>
    <option value="13" <!-- VAR d_13 -#>13</option>
    <option value="14" <!-- VAR d_14 -#>14</option>
    <option value="15" <!-- VAR d_15 -#>15</option>
    <option value="16" <!-- VAR d_16 -#>16</option>
    <option value="17" <!-- VAR d_17 -#>17</option>
    <option value="18" <!-- VAR d_18 -#>18</option>
    <option value="19" <!-- VAR d_19 -#>19</option>
    <option value="20" <!-- VAR d_20 -#>20</option>
    <option value="21" <!-- VAR d_21 -#>21</option>
    <option value="22" <!-- VAR d_22 -#>22</option>
    <option value="23" <!-- VAR d_23 -#>23</option>
    <option value="24" <!-- VAR d_24 -#>24</option>
    <option value="25" <!-- VAR d_25 -#>25</option>
    <option value="26" <!-- VAR d_26 -#>26</option>
    <option value="27" <!-- VAR d_27 -#>27</option>
    <option value="28" <!-- VAR d_28 -#>28</option>
    <option value="29" <!-- VAR d_29 -#>29</option>
    <option value="30" <!-- VAR d_30 -#>30</option>
    <option value="31" <!-- VAR d_31 -#>31</option>
   </select>

   <select name="month">
    <option value="1" <!-- VAR m_1 -#>Январь</option>
    <option value="2" <!-- VAR m_2 -#>Февраль</option>
    <option value="3" <!-- VAR m_3 -#>Март</option>
    <option value="4" <!-- VAR m_4 -#>Апрель</option>
    <option value="5" <!-- VAR m_5 -#>Май</option>
    <option value="6" <!-- VAR m_6 -#>Июнь</option>
    <option value="7" <!-- VAR m_7 -#>Июль</option>
    <option value="8" <!-- VAR m_8 -#>Август</option>
    <option value="9" <!-- VAR m_9 -#>Сентябрь</option>
    <option value="10" <!-- VAR m_10 -#>Октябрь</option>
    <option value="11" <!-- VAR m_11 -#>Ноябрь</option>
    <option value="12" <!-- VAR m_12 -#>Декабрь</option>
   </select>
    
   <select name="year">
<option value="1900" <!-- VAR y_1900 -#>1900</option>
<option value="1901" <!-- VAR y_1901 -#>1901</option>
<option value="1902" <!-- VAR y_1902 -#>1902</option>
<option value="1903" <!-- VAR y_1903 -#>1903</option>
<option value="1904" <!-- VAR y_1904 -#>1904</option>
<option value="1905" <!-- VAR y_1905 -#>1905</option>
<option value="1906" <!-- VAR y_1906 -#>1906</option>
<option value="1907" <!-- VAR y_1907 -#>1907</option>
<option value="1908" <!-- VAR y_1908 -#>1908</option>
<option value="1909" <!-- VAR y_1909 -#>1909</option>
<option value="1910" <!-- VAR y_1910 -#>1910</option>
<option value="1911" <!-- VAR y_1911 -#>1911</option>
<option value="1912" <!-- VAR y_1912 -#>1912</option>
<option value="1913" <!-- VAR y_1913 -#>1913</option>
<option value="1914" <!-- VAR y_1914 -#>1914</option>
<option value="1915" <!-- VAR y_1915 -#>1915</option>
<option value="1916" <!-- VAR y_1916 -#>1916</option>
<option value="1917" <!-- VAR y_1917 -#>1917</option>
<option value="1918" <!-- VAR y_1918 -#>1918</option>
<option value="1919" <!-- VAR y_1919 -#>1919</option>
<option value="1920" <!-- VAR y_1920 -#>1920</option>
<option value="1921" <!-- VAR y_1921 -#>1921</option>
<option value="1922" <!-- VAR y_1922 -#>1922</option>
<option value="1923" <!-- VAR y_1923 -#>1923</option>
<option value="1924" <!-- VAR y_1924 -#>1924</option>
<option value="1925" <!-- VAR y_1925 -#>1925</option>
<option value="1926" <!-- VAR y_1926 -#>1926</option>
<option value="1927" <!-- VAR y_1927 -#>1927</option>
<option value="1928" <!-- VAR y_1928 -#>1928</option>
<option value="1929" <!-- VAR y_1929 -#>1929</option>
<option value="1930" <!-- VAR y_1930 -#>1930</option>
<option value="1931" <!-- VAR y_1931 -#>1931</option>
<option value="1932" <!-- VAR y_1932 -#>1932</option>
<option value="1933" <!-- VAR y_1933 -#>1933</option>
<option value="1934" <!-- VAR y_1934 -#>1934</option>
<option value="1935" <!-- VAR y_1935 -#>1935</option>
<option value="1936" <!-- VAR y_1936 -#>1936</option>
<option value="1937" <!-- VAR y_1937 -#>1937</option>
<option value="1938" <!-- VAR y_1938 -#>1938</option>
<option value="1939" <!-- VAR y_1939 -#>1939</option>
<option value="1940" <!-- VAR y_1940 -#>1940</option>
<option value="1941" <!-- VAR y_1941 -#>1941</option>
<option value="1942" <!-- VAR y_1942 -#>1942</option>
<option value="1943" <!-- VAR y_1943 -#>1943</option>
<option value="1944" <!-- VAR y_1944 -#>1944</option>
<option value="1945" <!-- VAR y_1945 -#>1945</option>
<option value="1946" <!-- VAR y_1946 -#>1946</option>
<option value="1947" <!-- VAR y_1947 -#>1947</option>
<option value="1948" <!-- VAR y_1948 -#>1948</option>
<option value="1949" <!-- VAR y_1949 -#>1949</option>
<option value="1950" <!-- VAR y_1950 -#>1950</option>
<option value="1951" <!-- VAR y_1951 -#>1951</option>
<option value="1952" <!-- VAR y_1952 -#>1952</option>
<option value="1953" <!-- VAR y_1953 -#>1953</option>
<option value="1954" <!-- VAR y_1954 -#>1954</option>
<option value="1955" <!-- VAR y_1955 -#>1955</option>
<option value="1956" <!-- VAR y_1956 -#>1956</option>
<option value="1957" <!-- VAR y_1957 -#>1957</option>
<option value="1958" <!-- VAR y_1958 -#>1958</option>
<option value="1959" <!-- VAR y_1959 -#>1959</option>
<option value="1960" <!-- VAR y_1960 -#>1960</option>
<option value="1961" <!-- VAR y_1961 -#>1961</option>
<option value="1962" <!-- VAR y_1962 -#>1962</option>
<option value="1963" <!-- VAR y_1963 -#>1963</option>
<option value="1964" <!-- VAR y_1964 -#>1964</option>
<option value="1965" <!-- VAR y_1965 -#>1965</option>
<option value="1966" <!-- VAR y_1966 -#>1966</option>
<option value="1967" <!-- VAR y_1967 -#>1967</option>
<option value="1968" <!-- VAR y_1968 -#>1968</option>
<option value="1969" <!-- VAR y_1969 -#>1969</option>
<option value="1970" <!-- VAR y_1970 -#>1970</option>
<option value="1971" <!-- VAR y_1971 -#>1971</option>
<option value="1972" <!-- VAR y_1972 -#>1972</option>
<option value="1973" <!-- VAR y_1973 -#>1973</option>
<option value="1974" <!-- VAR y_1974 -#>1974</option>
<option value="1975" <!-- VAR y_1975 -#>1975</option>
<option value="1976" <!-- VAR y_1976 -#>1976</option>
<option value="1977" <!-- VAR y_1977 -#>1977</option>
<option value="1978" <!-- VAR y_1978 -#>1978</option>
<option value="1979" <!-- VAR y_1979 -#>1979</option>
<option value="1980" <!-- VAR y_1980 -#>1980</option>
<option value="1981" <!-- VAR y_1981 -#>1981</option>
<option value="1982" <!-- VAR y_1982 -#>1982</option>
<option value="1983" <!-- VAR y_1983 -#>1983</option>
<option value="1984" <!-- VAR y_1984 -#>1984</option>
<option value="1985" <!-- VAR y_1985 -#>1985</option>
<option value="1986" <!-- VAR y_1986 -#>1986</option>
<option value="1987" <!-- VAR y_1987 -#>1987</option>
<option value="1988" <!-- VAR y_1988 -#>1988</option>
<option value="1989" <!-- VAR y_1989 -#>1989</option>
<option value="1990" <!-- VAR y_1990 -#>1990</option>
<option value="1991" <!-- VAR y_1991 -#>1991</option>
<option value="1992" <!-- VAR y_1992 -#>1992</option>
<option value="1993" <!-- VAR y_1993 -#>1993</option>
<option value="1994" <!-- VAR y_1994 -#>1994</option>
<option value="1995" <!-- VAR y_1995 -#>1995</option>
<option value="1996" <!-- VAR y_1996 -#>1996</option>
<option value="1997" <!-- VAR y_1997 -#>1997</option>
<option value="1998" <!-- VAR y_1998 -#>1998</option>
<option value="1999" <!-- VAR y_1999 -#>1999</option>
<option value="2000" <!-- VAR y_2000 -#>2000</option>
<option value="2001" <!-- VAR y_2001 -#>2001</option>
<option value="2002" <!-- VAR y_2002 -#>2002</option>
<option value="2003" <!-- VAR y_2003 -#>2003</option>
<option value="2004" <!-- VAR y_2004 -#>2004</option>
<option value="2005" <!-- VAR y_2005 -#>2005</option>
<option value="2006" <!-- VAR y_2006 -#>2006</option>
<option value="2007" <!-- VAR y_2007 -#>2007</option>
<option value="2008" <!-- VAR y_2008 -#>2008</option>
<option value="2009" <!-- VAR y_2009 -#>2009</option>
<option value="2010" <!-- VAR y_2010 -#>2010</option>
<option value="2011" <!-- VAR y_2011 -#>2011</option>
<option value="2012" <!-- VAR y_2012 -#>2012</option>
<option value="2013" <!-- VAR y_2013 -#>2013</option>
<option value="2014" <!-- VAR y_2014 -#>2014</option>
<option value="2015" <!-- VAR y_2015 -#>2015</option>
<option value="2016" <!-- VAR y_2016 -#>2016</option>
<option value="2017" <!-- VAR y_2017 -#>2017</option>
<option value="2018" <!-- VAR y_2018 -#>2018</option>
<option value="2019" <!-- VAR y_2019 -#>2019</option>
<option value="2020" <!-- VAR y_2020 -#>2020</option>
<option value="2021" <!-- VAR y_2021 -#>2021</option>
<option value="2022" <!-- VAR y_2022 -#>2022</option>
<option value="2023" <!-- VAR y_2023 -#>2023</option>
<option value="2024" <!-- VAR y_2024 -#>2024</option>
<option value="2025" <!-- VAR y_2025 -#>2025</option>
<option value="2026" <!-- VAR y_2026 -#>2026</option>
<option value="2027" <!-- VAR y_2027 -#>2027</option>
<option value="2028" <!-- VAR y_2028 -#>2028</option>
<option value="2029" <!-- VAR y_2029 -#>2029</option>
<option value="2030" <!-- VAR y_2030 -#>2030</option>
<option value="2031" <!-- VAR y_2031 -#>2031</option>
<option value="2032" <!-- VAR y_2032 -#>2032</option>
<option value="2033" <!-- VAR y_2033 -#>2033</option>
<option value="2034" <!-- VAR y_2034 -#>2034</option>
<option value="2035" <!-- VAR y_2035 -#>2035</option>
<option value="2036" <!-- VAR y_2036 -#>2036</option>
<option value="2037" <!-- VAR y_2037 -#>2037</option>
<option value="2038" <!-- VAR y_2038 -#>2038</option>
<option value="2039" <!-- VAR y_2039 -#>2039</option>
<option value="2040" <!-- VAR y_2040 -#>2040</option>
<option value="2041" <!-- VAR y_2041 -#>2041</option>
<option value="2042" <!-- VAR y_2042 -#>2042</option>
<option value="2043" <!-- VAR y_2043 -#>2043</option>
<option value="2044" <!-- VAR y_2044 -#>2044</option>
<option value="2045" <!-- VAR y_2045 -#>2045</option>
<option value="2046" <!-- VAR y_2046 -#>2046</option>
<option value="2047" <!-- VAR y_2047 -#>2047</option>
<option value="2048" <!-- VAR y_2048 -#>2048</option>
<option value="2049" <!-- VAR y_2049 -#>2049</option>
<option value="2050" <!-- VAR y_2050 -#>2050</option>
<option value="2051" <!-- VAR y_2051 -#>2051</option>
<option value="2052" <!-- VAR y_2052 -#>2052</option>
<option value="2053" <!-- VAR y_2053 -#>2053</option>
<option value="2054" <!-- VAR y_2054 -#>2054</option>
<option value="2055" <!-- VAR y_2055 -#>2055</option>
<option value="2056" <!-- VAR y_2056 -#>2056</option>
<option value="2057" <!-- VAR y_2057 -#>2057</option>
<option value="2058" <!-- VAR y_2058 -#>2058</option>
<option value="2059" <!-- VAR y_2059 -#>2059</option>
<option value="2060" <!-- VAR y_2060 -#>2060</option>
<option value="2061" <!-- VAR y_2061 -#>2061</option>
<option value="2062" <!-- VAR y_2062 -#>2062</option>
<option value="2063" <!-- VAR y_2063 -#>2063</option>
<option value="2064" <!-- VAR y_2064 -#>2064</option>
<option value="2065" <!-- VAR y_2065 -#>2065</option>
<option value="2066" <!-- VAR y_2066 -#>2066</option>
<option value="2067" <!-- VAR y_2067 -#>2067</option>
<option value="2068" <!-- VAR y_2068 -#>2068</option>
<option value="2069" <!-- VAR y_2069 -#>2069</option>
<option value="2070" <!-- VAR y_2070 -#>2070</option>
<option value="2071" <!-- VAR y_2071 -#>2071</option>
<option value="2072" <!-- VAR y_2072 -#>2072</option>
<option value="2073" <!-- VAR y_2073 -#>2073</option>
<option value="2074" <!-- VAR y_2074 -#>2074</option>
<option value="2075" <!-- VAR y_2075 -#>2075</option>
<option value="2076" <!-- VAR y_2076 -#>2076</option>
<option value="2077" <!-- VAR y_2077 -#>2077</option>
<option value="2078" <!-- VAR y_2078 -#>2078</option>
<option value="2079" <!-- VAR y_2079 -#>2079</option>
<option value="2080" <!-- VAR y_2080 -#>2080</option>
<option value="2081" <!-- VAR y_2081 -#>2081</option>
<option value="2082" <!-- VAR y_2082 -#>2082</option>
<option value="2083" <!-- VAR y_2083 -#>2083</option>
<option value="2084" <!-- VAR y_2084 -#>2084</option>
<option value="2085" <!-- VAR y_2085 -#>2085</option>
<option value="2086" <!-- VAR y_2086 -#>2086</option>
<option value="2087" <!-- VAR y_2087 -#>2087</option>
<option value="2088" <!-- VAR y_2088 -#>2088</option>
<option value="2089" <!-- VAR y_2089 -#>2089</option>
<option value="2090" <!-- VAR y_2090 -#>2090</option>
<option value="2091" <!-- VAR y_2091 -#>2091</option>
<option value="2092" <!-- VAR y_2092 -#>2092</option>
<option value="2093" <!-- VAR y_2093 -#>2093</option>
<option value="2094" <!-- VAR y_2094 -#>2094</option>
<option value="2095" <!-- VAR y_2095 -#>2095</option>
<option value="2096" <!-- VAR y_2096 -#>2096</option>
<option value="2097" <!-- VAR y_2097 -#>2097</option>
<option value="2098" <!-- VAR y_2098 -#>2098</option>
<option value="2099" <!-- VAR y_2099 -#>2099</option>
   </select>   
  </td>
<tr>
 <td><center>
    <hr>    
    <input type="submit" value="Уст. сегодня" name="ok" onClick="set_now();done();">
    <vr>
    <input type="submit" value="Готово" name="ok" onClick="done();">    
     </center></td>
</tr>
</table>
</form>

<!--#include virtual="/ssi/down.html" -->