<!--#include virtual="/ssi/up.html" -->

<script language="JavaScript">


function done()
{

 if (opener)
 {
    
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR seria_f -->.value = document.forms['select'].seria.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR number_f -->.value = document.forms['select'].number.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR day_f -->.value = document.forms['select'].day.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR month_f -->.value = document.forms['select'].month.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR year_f -->.value = document.forms['select'].year.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR who_f -->.value = document.forms['select'].who.value;
     opener.document.forms['<!-- VAR form_name -->'].<!-- VAR full_f -->.value = 
        "Серия:"+document.forms['select'].seria.value+
        " № "+document.forms['select'].number.value+
        ". Дата выдачи :"+document.forms['select'].day.value+"/"+document.forms['select'].month.value+"/"+document.forms['select'].year.value+
        ". Выдан: "+document.forms['select'].who.value;
 }

 close();
 return false;
}

</script>


<body>

<form name="select">
<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
 <tr>
  <td><nobr>Серия</nobr></td>
  <td><input type="text" name="seria" value="<!-- VAR seria_v -->" class="in_line" size="6" maxlength="6"></td>
 </tr>
 <tr>
  <td>Номер</td>
  <td><input type="text" name="number" value="<!-- VAR number_v -->" class="in_line" size="9" maxlength="9"></td>
 </tr>
 <tr>
  <td><nobr><a href="JavaScript: date_enter('select','day','month','year') ">Дата выдачи</a></nobr></td>
  <td><input type="text" name="day" value="<!-- VAR day_v -->" class="in_line" size="2" maxlength="2">/
      <input type="text" name="month" value="<!-- VAR month_v -->" class="in_line" size="2" maxlength="2">/
      <input type="text" name="year" value="<!-- VAR year_v -->" class="in_line" size="4" maxlength="4"></td>
 </tr>
 <tr>
  <td><nobr>Кем выдан</nobr></td>
  <td><input type="text" name="who" value="<!-- VAR who_v -->" class="in_line" size="64" maxlength="128"></td>
 </tr>
 <tr>
  <td colspan="2"><center><a href="#" onClick="done();return false;">Готово</a></center></td>
 </tr>
</table>
   
  </td>
</table>
</form>

<!--#include virtual="/ssi/down.html" -->