<!--#include virtual="/ssi/up.html" -->

<table height="100%" border="0" width="100%"><tr valign="center"><td>

<table border="0" width="100%" class="cell_border"><tr><td width="100%" align="center">
<br>
<h2>Внимание!!! Такой <!-- VAR OBJ_NAME --> уже есть в базе.<br>
Дублирование не разрешено.
</h2>
<td></tr></table>
<td></tr></table>

<!--#include virtual="/ssi/down.html" -->