<!--#include virtual="/ssi/up.html" -->

<table border="0">
 <tr height="150">
  <td colsapn="3">&nbsp</td>
 </tr>
 <tr>
  <td width="50%">&nbsp;</td>
  <td>

    <table class="cell_border" background="/img/back_form.jpg">
     <tr> <td> <b> Ошибка авторизации: </b><br><nobr>Возможно Вы более часа не пользовались программой или воспользовались кнопками перехода на панели браузера</nobr> </td> </tr>
     <tr> <td> <hr></td> </tr>
     <tr> <td> <a href="/">Вход в систему...</a></td> </tr>

    </table> 

  </td>
  <td width="100%">&nbsp;</td>
 <tr height="500">
  <td colsapn="3">&nbsp</td>
 </tr>
</table>

<!--#include virtual="/ssi/down.html" -->