<!--#include virtual="/ssi/up.html" -->

<script language="JavaScript">

</script>


<body>

<form action="/cmd" method="post" name="select_image" enctype="multipart/form-data">
<input type="hidden" name="act" value="small_img.select_apply">
<input type="hidden" name="form_name" value="<!-- VAR form_name -->">
<input type="hidden" name="id_name" value="<!-- VAR id_name -->">
<input type="hidden" name="image_name" value="<!-- VAR image_name -->">
<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
 <tr>
  <td><nobr>Укажите имя файла с фото</nobr></td>
  <td width="100%"><input type="file" name="image_data" class="in_line" size="64"></td>
 </tr>
 <tr>
  <td colspan="2"><center><input type="submit" value="Готово" name="ok"></center></td>
 </tr>
</table>
</form>


<!--#include virtual="/ssi/down.html" -->