<!--#include virtual="/ssi/up.html" -->

<center>

<br>

<form action="/cmd" method="post" name="remove">
<input type="hidden" name="act" value="<!-- VAR OBJECT_TYPE -->.remove_apply">
<input type="hidden" name="id" value="<!-- VAR ID -->">

<table border="0" width="60%" background="/img/back_form.jpg" class="cell_border">
 <tr>
  <td align="center"><br>Удалить ?</td>
 </tr>
 <tr>
  <td align="center"><nobr><br>
  <input type="submit" name="ok" value="Да"      onClick="JavaScript: reload_parent(500);" style="width:100px;" >
  <input type="button" name="cancel" value="Нет" onClick="JavaScript: window.close();"     style="width:100px;">
  </nobr></td>
 </tr>
</table>
</form>

<br>

</center>

<!--#include virtual="/ssi/down.html" -->