<!--#access=admins { -->
<center>
<table border="0" background="/img/back_form.jpg" width="95%" class="cell_border" style="border-top:none;">
<tr>

  <td><nobr><a href="/cmd?act=report.full">Журнал звонков</a> |</nobr></td>
  <td><nobr><a href="/cmd?act=report.sum">Сводный отчет</a> |</nobr></td>
  <!-- <td><nobr><a href="/cmd?act=report.error_table">Нарушения</a> |</nobr></td>
  <td><nobr><a href="/cmd?act=report.export">Выгрузка</a> |</nobr></td>
  -->

  <td width="100%"></td> 
</tr>
</table>
</center>
<!-- } -->
