
<!--#include virtual="/ssi/up.html" -->
<!--#include virtual="/ssi/main_menu.html" -->

<br>
<!--#include virtual="/reports/menu.html" -->

<script>
var oper_sel_arr = new Array();
oper_sel_arr[0]=new selector('...',0,1);
<!-- VAR OPER_SEL_ARRAY -->

var term_sel_arr = new Array();
term_sel_arr[0]=new selector('...',0,1);
<!-- VAR TERM_SEL_ARRAY -->

var queue_sel_arr = new Array();
queue_sel_arr[0]=new selector('...',0,1);
<!-- VAR QUEUE_SEL_ARRAY -->

function selector(vname,id,is_selected)
{
        this.vname=vname;
        this.id=id;
        this.is_selected=is_selected;
}

function show_sel(arr,name)
{
   var arr_name_str=name+'_sel_arr';
   var show_select_element_id=name+'_sel_id';
   var text_element_id=name+'_sel_text';
   var ids_element_id=name+'_sel_ids';

   var sel_txt=''+
   '<select name="selector" multiple size="'+arr.length+'" id="selector_id" onchange="JavaScript: sel_change(this,'+arr_name_str+
   ',\''+show_select_element_id+'\''+
   ',\''+ids_element_id+'\')" onblur="JavaScript: commit_sel(\''+text_element_id+'\')">';

   for(i=0;i<arr.length;i++)
   {
     sel_txt+='<option value="'+arr[i].id+'" ';
     if (arr[i].is_selected) sel_txt+='selected';
     sel_txt+='>'+arr[i].vname+'</option>';
   }
   sel_txt+='</select>';

   var sel_elem=document.getElementById(text_element_id);
   sel_elem.innerHTML = sel_txt;
   sel_elem.style.position='absolute';
   document.getElementById('selector_id').focus();
}

function commit_sel(text_element_id)
{
   document.getElementById(text_element_id).innerHTML = '';
}

function sel_change(sel,arr,show_select_element_id,ids_element_id)
{
   if (sel.options[0].selected)
   {
     for(i=1;i<sel.options.length;i++)
     {
       sel.options[i].selected=false;
     }
   }

   var val='<nobr>';
   var ids='';
   for(i=0;i<sel.options.length;i++)
   {
     if (sel.options[i].selected)
     {
         val+=arr[i].vname+'</nobr>, <nobr>';
         ids+=arr[i].id+',';
         arr[i].is_selected=1;
     }
     else
     {
         arr[i].is_selected=0;
     }
   }
   val=val.slice(0,-15);
   ids=ids.slice(0,-1);
   document.getElementById(show_select_element_id).innerHTML=val;
   document.getElementById(ids_element_id).value=ids;
}

function direction()
{
  if (document.forms['search'].export.checked)
  {
    document.forms['search'].target='_blank';
  }
  else
  {
    document.forms['search'].target='';
  }

  return true;
}

<!--
function sel_init(arr,show_id,ids_id)
{
  var show_text='';
  var ids='';
  for(i=0;i<arr.length;i++)
  {
    if (arr[i].is_selected)
    {
      show_text+=arr[i].vname+'</nobr>, <nobr>';
      ids+=arr[i].id+',';
    }
  }
  show_text=show_text.slice(0,-15);
  ids=ids.slice(0,-1);
  document.getElementById(show_id).innerHTML=show_text;
  document.getElementById(ids_id).value=ids;
}
-->

</script>

<br>
<center>
<table width="95%" border="0">
<tr><td>

<form action="/cmd" method="post" name="search" onsubmit="return direction();">
<input type="hidden" name="act" value="report.full">
<input type="hidden" name="oid" value="<!-- VAR OID -->">
<input type="hidden" id="timezone_id" name="timezone_offset" value="">
<input type="hidden" name="filename" value="123.xms">

<h1><center>Полный отчёт по звонкам</center></h1>

<table width="100%" cellpadding="5" cellspacing="0" border="0" class="thead_cell">
<tr>
 <td width="100%" style="border-bottom:2px solid black; text-align:left;">
       <a href="JavaScript: calendar_show('search','begin_d','begin_m','begin_y');">C</a>
       <input type="text" maxlength="2" name="begin_d" value="<!-- VAR BEGIN_D -->" style="width:36px;">/
       <input type="text" maxlength="2" name="begin_m" value="<!-- VAR BEGIN_M -->" style="width:36px;">/
       <input type="text" maxlength="4" name="begin_y" value="<!-- VAR BEGIN_Y -->" style="width:64px;">
       &nbsp;
       <input type="text" maxlength="2" name="begin_h" value="<!-- VAR BEGIN_H -->" style="width:36px;">:
       <input type="text" maxlength="2" name="begin_n" value="<!-- VAR BEGIN_N -->" style="width:36px;">
       &nbsp;&nbsp;&nbsp;
       <a href="JavaScript: calendar_show('search','end_d','end_m','end_y');">по</a>
       <input type="text" maxlength="2" name="end_d" value="<!-- VAR END_D -->" style="width:36px;">/
       <input type="text" maxlength="2" name="end_m" value="<!-- VAR END_M -->" style="width:36px;">/
       <input type="text" maxlength="4" name="end_y" value="<!-- VAR END_Y -->" style="width:64px;">
       &nbsp;
       <input type="text" maxlength="2" name="end_h" value="<!-- VAR END_H -->" style="width:36px;">:
       <input type="text" maxlength="2" name="end_n" value="<!-- VAR END_N -->" style="width:36px;">
 </td>
 <td style="border-bottom:2px solid black;"><nobr>
   <input type="checkbox" name="export" value="1">Экспорт&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="submit" name="search" value="ОК"></nobr>
 </td>
</tr>
<tr>
 <td colspan="2" style="border-bottom: 2px solid black;">

   <table border="0" width="100%">
    <tr>
     <td>Оператор:</td>
     <td>Терминал:</td>
     <td>Очередь:</td>
     <td>Время ожидания:</td>
     <td>Время обслуживания:</td>
     <td>Результат:</td>
    </tr>
    <tr>
     <td><div name="oper_sel_name" id="oper_sel_id" onclick="JavaScript: show_sel(oper_sel_arr, 'oper')" style="text-decoration: underline;"><!-- VAR OPER_SEL_TEXT --></div>
         <input type="hidden" value="" name="oper_sel_ids" id="oper_sel_ids">
     </td>
     <td><div name="term_sel_name" id="term_sel_id" onclick="JavaScript: show_sel(term_sel_arr, 'term')" style="text-decoration: underline;">...</div>
         <input type="hidden" value="" name="term_sel_ids" id="term_sel_ids">
     </td>
     <td><div name="queue_sel_name" id="queue_sel_id" onclick="JavaScript: show_sel(queue_sel_arr, 'queue')" style="text-decoration: underline;">...</div>
         <input type="hidden" value="" name="queue_sel_ids" id="queue_sel_ids">
     </td>
     <td><select name="wait_time_cond">
            <option>&nbsp;</option>
            <option value="more" <!-- VAR WAIT_TIME_CONDmore -->>></option>
            <option value="less" <!-- VAR WAIT_TIME_CONDless -->><</option>
            <option value="eq" <!-- VAR WAIT_TIME_CONDeq -->>=</option>            
          </select>
          <input type="text" maxlength="2" name="wait_time_search" value="<!-- VAR WAIT_TIME_SEARCH -->" style="width:36px;"> мин.
     </td>
     <td><select name="serv_time_cond">
            <option>&nbsp;</option>
            <option value="more" <!-- VAR SERV_TIME_CONDmore -->>></option>
            <option value="less" <!-- VAR SERV_TIME_CONDless -->><</option>
            <option value="eq" <!-- VAR SERV_TIME_CONDeq -->>=</option>            
          </select> 
          <input type="text" maxlength="2" name="serv_time_search" value="<!-- VAR SERV_TIME_SEARCH -->" style="width:36px;"> мин.
     </td>
     <td><select name="end_code_cond">
            <option>&nbsp;</option>
            <option value="proc" <!-- VAR END_CODE_CONDproc -->>Обслужен</option>
            <option value="no_proc" <!-- VAR END_CODE_CONDredir -->>Не обслужен</option>
            <option value="crush" <!-- VAR END_CODE_CONDabort -->>Обрыв связи</option>
          </select>           
     </td>
    </tr>
    <tr>
     <td><div id="oper_sel_text"></div></td>
     <td><div id="term_sel_text"></div></td>
     <td><div id="queue_sel_text"></div></td>
     <td></td>
     <td></td>
    </tr>
   </table>
 </td>
</tr>
<tr>
 <td colspan="2" style="text-align:left;">
  <nobr>
   Вид отчета:
   <input type="radio" name="out_mode" value="flat" <!-- VAR OUT_MODE_flat -->>Список звонков
   <input type="radio" name="out_mode" value="by_opers" <!-- VAR OUT_MODE_by_opers -->>По операторам
   <input type="radio" name="out_mode" value="by_terms" <!-- VAR OUT_MODE_by_terms -->>По терминалам
   <input type="radio" name="out_mode" value="by_queues" <!-- VAR OUT_MODE_by_queues -->>По очередям
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="checkbox" name="hide_calls" value="yes" <!-- VAR HIDE_CALLS -->>Не показывать звонки
  </nobr>
 </td>
</tr>
</table>

</form>

<script>
 sel_init(oper_sel_arr,'oper_sel_id','oper_sel_ids');
 sel_init(term_sel_arr,'term_sel_id','term_sel_ids');
 sel_init(q_sel_arr,'q_sel_id','q_sel_ids');
 set_timezone('timezone_id');
</script>

<!-- SECTION GOPER_BEGIN -->
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
 <td class="column_header">Оператор</td>
 <td class="column_header">Всего звонков</td>
 <td class="column_header">Общая длительность разговора</td>
 <td class="column_header">Средняя длительность разговора</td>
</tr>
<!-- SECTION GOPER_LINE -->
<tr>
 <td class="table_body_left" style="text-align:left;"><!-- VAR NAME --></td>
 <td class="table_body"><!-- VAR COUNT --></td>
 <td class="table_body"><!-- VAR SUM_SERV_TIME --></td>
 <td class="table_body_right"><!-- VAR AVG_SERV_TIME --></td>
</tr>
<!-- SECTION GOPER_END -->
<tr>
 <td class="column_header">ИТОГО</td>
 <td class="column_header" style="text-align:right;"><!-- VAR COUNT --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR SUM_SERV_TIME --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR AVG_SERV_TIME --></td>
</tr>
</table>

<!-- SECTION GOPERT_LINE -->
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
 <td class="column_header" width="100%"><h2>Оператор: <!-- VAR NAME --></h2></td>
 <td class="column_header"><nobr>
 Всего звонков: <!-- VAR COUNT --><br>
 Общая длительность разговора: <!-- VAR SUM_SERV_TIME --><br>
 Средняя длительность разговора: <!-- VAR AVG_SERV_TIME --></nobr></td>
</tr>
</table>

<!-- SECTION GTERM_BEGIN -->
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
 <td class="column_header">Терминал</td>
 <td class="column_header">Всего звонков</td>
 <td class="column_header">Общая длительность ожидания</td> 
 <td class="column_header">Средняя длительность ожидания</td>
 <td class="column_header">Общая длительность разговора</td>
 <td class="column_header">Средняя длительность разговора</td>
</tr>
<!-- SECTION GTERM_LINE -->
<tr>
 <td class="table_body_left" style="text-align:left;"><!-- VAR NAME --></td>
 <td class="table_body"><!-- VAR COUNT --></td>
 <td class="table_body"><!-- VAR SUM_WAIT_TIME --></td>
 <td class="table_body"><!-- VAR AVG_WAIT_TIME --></td>
 <td class="table_body"><!-- VAR SUM_SERV_TIME --></td> 
 <td class="table_body_right"><!-- VAR AVG_SERV_TIME --></td>
</tr>
<!-- SECTION GTERM_END -->
<tr>
 <td class="column_header">ИТОГО</td>
 <td class="column_header" style="text-align:right;"><!-- VAR COUNT --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR SUM_WAIT_TIME --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR AVG_WAIT_TIME --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR SUM_SERV_TIME --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR AVG_SERV_TIME --></td>
</tr>
</table>

<!-- SECTION GTERMT_LINE -->
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
 <td class="column_header" width="100%"><h2>Терминал: <!-- VAR NAME --></h2></td>
 <td class="column_header"><nobr>
 Всего звонков: <!-- VAR COUNT --><br>
 Общая длительность ожидания: <!-- VAR SUM_WAIT_TIME --><br>
 Средняя длительность ожидания : <!-- VAR AVG_WAIT_TIME --><br>
 Общая длительность разговора: <!-- VAR SUM_SERV_TIME --><br>
 Средняя длительность разговора: <!-- VAR AVG_SERV_TIME --><br>
 </td>
</tr>
</table>

<!-- SECTION GQ_BEGIN -->
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
 <td class="column_header">Очередь</td>
 <td class="column_header">Всего звонков</td>
 <td class="column_header">Общая длительность ожидания</td>
 <td class="column_header">Средняя длительность ожидания</td>
 <td class="column_header">Общая длительность разговора</td>
 <td class="column_header">Средняя длительность разговора</td>
</tr>
<!-- SECTION GQ_LINE -->
<tr>
 <td class="table_body_left" style="text-align:left;"><!-- VAR NAME --></td>
 <td class="table_body" style="text-align:right;"><!-- VAR COUNT --></td>
 <td class="table_body" style="text-align:right;"><!-- VAR SUM_WAIT_TIME --></td>
 <td class="table_body" style="text-align:right;"><!-- VAR AVG_WAIT_TIME --></td>
 <td class="table_body" style="text-align:right;"><!-- VAR SUM_SERV_TIME --></td>
 <td class="table_body_right" style="text-align:right;"><!-- VAR AVG_SERV_TIME --></td>
</tr>
<!-- SECTION GQ_END -->
<tr>
 <td class="column_header">ИТОГО</td>
 <td class="column_header" style="text-align:right;"><!-- VAR COUNT --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR SUM_WAIT_TIME --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR AVG_WAIT_TIME --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR SUM_SERV_TIME --></td>
 <td class="column_header" style="text-align:right;"><!-- VAR AVG_SERV_TIME --></td>
</tr>
</table>

<!-- SECTION GQT_LINE -->
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
 <td class="column_header" width="100%"><h2>Очередь: <!-- VAR NAME --></h2></td>
 <td class="column_header"><nobr>
 Всего звонков: <!-- VAR COUNT --><br>
 Общая длительность ожидания: <!-- VAR SUM_WAIT_TIME --><br>
 Средняя длительность ожидания: <!-- VAR AVG_WAIT_TIME --><br>
 Общая длительность разговора: <!-- VAR SUM_SERV_TIME --><br>
 Средняя длительность разговора: <!-- VAR AVG_SERV_TIME --></nobr></td>
</tr>
</table>

<!-- SECTION CALLS_BEGIN -->
<table width="100%" border="0" cellpadding="5" cellspacing="0"><tbody>
<tr>
 <td class="column_header">№ звонка</td>
 <td class="column_header">Оператор</td>
 <td class="column_header">Терминал</td>
 <td class="column_header">Очередь</td>
 <td class="column_header">Начало</td>
 <td class="column_header">Ответ</td>
 <td class="column_header">Окончание</td>
 <td class="column_header">Длительность ожидания</td>
 <td class="column_header">Длительность разговора</td>
 <td class="column_header">Результат</td>
</tr>

<!-- SECTION CALLS_LINE -->
<tr>
 <td class="table_body"><a href="JavaScript: open_big_object('/cmd?act=report.call_info&call_id=<!-- VAR CALL_NUM -->&sys_ns=1');"><!-- VAR CALL_NUM --></a></td>
 <td class="table_body">&nbsp;<!-- VAR OPER_FIO --></td>
 <td class="table_body"><!-- VAR TERM_VNAME_PLACE --></td>
 <td class="table_body"><!-- VAR QUEUE_VNAME --></td>
 <td class="table_body"><!-- VAR BEGIN_AT --></td>
 <td class="table_body"><!-- VAR ANSWERED_AT --></td>
 <td class="table_body"><!-- VAR END_AT --></td>
 <td class="table_body"><!-- VAR WAIT_TIME --></td>
 <td class="table_body"><!-- VAR SERV_TIME --></td>
 <td class="table_body_right"><!-- VAR END_CODE --></td>
</tr>

<!-- SECTION CALLS_END -->
</table>

<br>
<br>
<!-- SECTION SUM -->

<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
 <td class="column_header" width="100%"><h2>Общие показатели</h2></td>
 <td class="column_header"><nobr>
 Всего звонков: <!-- VAR COUNT --><br>
 Общая длительность ожидания: <!-- VAR SUM_WAIT_TIME --><br>
 Средняя длительность ожидания: <!-- VAR AVG_WAIT_TIME --><br>
 Общая длительность разговора: <!-- VAR SUM_SERV_TIME --><br>
 Средняя длительность разговора: <!-- VAR AVG_SERV_TIME -->
</nobr></td>
</tr>
</table>

<!-- SECTION END -->

</td></tr>
</table>
</center>

<!--#include virtual="/ssi/down.html" -->

