﻿<!--#include virtual="/ssi/up.html" -->

<!-- <Link type="text/css" rel="stylesheet" href="style.css"> -->

<br>
<center>

<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
<tr>
<td>

<h1>Вызов <!-- VAR CALL_NUM --></h1>

<table border="0" width="100%">

 <tr>
  <td><nobr>С терминала</nobr></td>
  <td><nobr>1</nobr></td>
 </tr>

 <tr>
  <td><nobr>Принял оператор</nobr></td>
  <td><nobr>1</nobr></td>
 </tr>

 <tr>
  <td><nobr>С рабочего места</nobr></td>
  <td><nobr>1</nobr></td>
 </tr>

 <tr>
  <td><nobr>Начало вызова</nobr></td>
  <td><nobr>1</nobr></td>
 </tr>

 <tr>
  <td><nobr>Ответ (ожидание)</nobr></td>
  <td><nobr>1</nobr></td>
 </tr>

 <tr>
  <td><nobr>Завершение вызова (время разговора)</nobr></td>
  <td><nobr>1</nobr></td>
 </tr>

 <tr>
  <td><nobr>Статус завершения</nobr></td>
  <td><nobr>1</nobr></td>
 </tr>

 <tr>
  <td colspan="2"><hr></td>
 </tr>

 <tr>
  <td><nobr>Видео/аудио запись</nobr></td>
  <td><nobr>1</nobr></td>
 </tr>

 <tr>
  <td colspan="2"><hr></td>
 </tr>

 <tr>
  <td><nobr>Напечатано</nobr></td>
  <td><nobr>1 2 3</nobr></td>
 </tr>

 <tr>
  <td><nobr>Отсканировано</nobr></td>
  <td><nobr>1 2 3</nobr></td>
 </tr>

</table>

<br>

<center>
<input type="button" name="ok" value="Закрыть" onClick="JavaScript: window.close();">
</center>

<br>

</td></tr>
</table>

</center>
<br>

<!--#include virtual="/ssi/down.html" -->
