
<!--#include virtual="/ssi/up.html" -->
<!--#include virtual="/ssi/main_menu.html" -->
<br>
<!--#include virtual="/reports/menu.html" -->

<script>
var oper_sel_arr = new Array();
<!-- VAR OPER_SEL_ARRAY -->

var term_sel_arr = new Array();
term_sel_arr[0]=new selector('...',0,1);
<!-- VAR TERM_SEL_ARRAY -->

var q_sel_arr = new Array();
q_sel_arr[0]=new selector('...',0,1);
<!-- VAR Q_SEL_ARRAY -->

function direction()
{
  if (document.forms['search'].export.checked)
  {
    document.forms['search'].target='_blank';
  }
  else
  {
    document.forms['search'].target='';
  }
  
  return true;
}

</script>

<br>
<center>
<table width="95%" border="0">
<tr><td>

<form action="/cmd" method="post" name="search" onsubmit="return direction();">
<input type="hidden" name="act" value="report.by_hours">
<input type="hidden" name="oid" value="<!-- VAR OID -->">
<input type="hidden" id="timezone_id" name="timezone_offset" value="">

<h1><center>Отчёт по часам</center></h1>

<table width="100%" cellpadding="5" cellspacing="0" border="0" class="thead_cell">
<tr>
 <td width="100%" style="border-bottom:2px solid black; text-align:left;">
       <a href="JavaScript: calendar_show('search','begin_d','begin_m','begin_y');">C</a>
       <input type="text" maxlength="2" name="begin_d" value="<!-- VAR BEGIN_D -->" style="width:36px;">/
       <input type="text" maxlength="2" name="begin_m" value="<!-- VAR BEGIN_M -->" style="width:36px;">/
       <input type="text" maxlength="4" name="begin_y" value="<!-- VAR BEGIN_Y -->" style="width:64px;">
       &nbsp;&nbsp;&nbsp;
       <a href="JavaScript: calendar_show('search','end_d','end_m','end_y');">по</a>
       <input type="text" maxlength="2" name="end_d" value="<!-- VAR END_D -->" style="width:36px;">/
       <input type="text" maxlength="2" name="end_m" value="<!-- VAR END_M -->" style="width:36px;">/
       <input type="text" maxlength="4" name="end_y" value="<!-- VAR END_Y -->" style="width:64px;">
 </td>
 <td style="border-bottom:2px solid black;"><nobr>
   <input type="checkbox" name="export" value="1">Экспорт&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="submit" name="search" value="&gt;&gt;"></nobr></td>
</tr>
<tr>
 <td colspan="2">

   <table border="0" width="100%">
    <tr>
     <td>Оператор:</td>
     <td>Терминал:</td>
     <td>Очередь:</td>
    </tr>
    <tr>
     <td><div name="oper_sel_name" id="oper_sel_id" onclick="JavaScript: show_sel(oper_sel_arr, 'oper')" style="text-decoration: underline;"><!-- VAR OPER_SEL_TEXT --></div>
         <input type="hidden" value="" name="oper_sel_ids" id="oper_sel_ids">
     </td>
     <td><div name="term_sel_name" id="term_sel_id" onclick="JavaScript: show_sel(term_sel_arr, 'term')" style="text-decoration: underline;">...</div>
         <input type="hidden" value="" name="term_sel_ids" id="term_sel_ids">
     </td>
     <td><div name="q_sel_name" id="q_sel_id" onclick="JavaScript: show_sel(q_sel_arr, 'q')" style="text-decoration: underline;">...</div>
         <input type="hidden" value="" name="q_sel_ids" id="q_sel_ids">
     </td>
    </tr>
    <tr>
     <td><div id="oper_sel_text"></div></td>
     <td><div id="term_sel_text"></div></td>
     <td><div id="q_sel_text"></div></td>
    </tr>
   </table>
 </td>
</tr>
</table>

</form>

<script>
 sel_init(oper_sel_arr,'oper_sel_id','oper_sel_ids');
 sel_init(term_sel_arr,'term_sel_id','term_sel_ids');
 sel_init(q_sel_arr,'q_sel_id','q_sel_ids');
 set_timezone('timezone_id');
</script>

<!-- SECTION HEAD_BEGIN -->
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
 <td class="column_header">Дата/Час</td>
<!-- SECTION HEAD_LINE -->
 <td class="column_header"><!-- VAR IB -->-<!-- VAR IE --></td>
<!-- SECTION HEAD_END -->
 <td class="column_header">ВСЕГО за день</td>
</tr>

<!-- SECTION D_BEGIN -->
<tr>
 <td class="table_body"><!-- VAR DAY -->.<!-- VAR MONTH -->.<!-- VAR YEAR --></td>
<!-- SECTION D_LINE -->
 <td class="table_body"><!-- VAR COUNT --></td>
<!-- SECTION D_END -->
 <td class="table_body"><!-- VAR COUNT --></td>
</tr>

<!-- SECTION E_BEGIN -->
<tr>
 <td class="column_header">ИТОГО</td>
<!-- SECTION E_LINE -->
 <td class="column_header" style="text-align:right;"><!-- VAR COUNT --></td>
<!-- SECTION E_END -->
 <td class="column_header" style="text-align:right;"><!-- VAR COUNT --></td>
</tr>
</table>


<!-- SECTION END -->

</td></tr>
</table>
</center>

<!-- SECTION TTT -->
<!-- VAR CALL_NUMBER --><br>

<!--#include virtual="/ssi/down.html" -->

