<!--#include virtual="/ssi/up.html" -->

<!-- <Link type="text/css" rel="stylesheet" href="style.css"> -->

<script>
function check_fill()
{
   if (document.forms['c_form'].name.value=='') { alert('Введите системное имя параметра.'); return false; }
   if (document.forms['c_form'].vname.value=='') { alert('Введите описание параметра.'); return false; }
   if (document.forms['c_form'].value.value=='') { alert('Введите значение параметра.'); return false; }
   
   reload_parent(500);
   return true;
}
</script>

<br>
<center>

<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
<tr>
<td>

<form action="/cmd" method="post" name="c_form" onsubmit="return check_fill();">
<input type="hidden" name="act" value="constant.apply">
<input type="hidden" name="id" value="<!-- VAR ID -->">

<table border="0" width="100%">
 <tr>
  <td><br><nobr>Системное имя</nobr></td>
  <td width="100%"><br><input type="text" name="name" value="<!-- VAR NAME -->" class="in_line" size="32" maxlength="64"></td>
 </tr>
 <tr>
  <td><br><nobr>Описание</nobr></td>
  <td width="100%"><br><input type="text" name="vname" value="<!-- VAR VNAME -->" class="in_line" size="32" maxlength="364"></td>
 </tr>
 <tr>
  <td><br><nobr>Значение</nobr></td>
  <td width="100%"><br><input type="text" name="value" value="<!-- VAR VALUE -->" class="in_line" size="32" maxlength="64"></td>
 </tr>
 <tr>
  <td><nobr>Экспорт для модулей</nobr></td>
  <td><input type="checkbox" name="in_config" value="1" <!-- VAR IN_CONFIG --> class="in_line" size="32" maxlength="5"></td>
 </tr>
 <tr>
  <td><nobr>Скрывать значение</nobr></td>
  <td><input type="checkbox" name="hide_value" value="1" <!-- VAR HIDE_VALUE --> class="in_line" size="32" maxlength="5"></td>
 </tr>
</table>

<br>

<center>
<input type="submit" name="ok" value="Готово" onClick="JavaScript: reload_parent(500)">
</center>

</form>

</td></tr>
</table>

</center>
<br>

<!--#include virtual="/ssi/down.html" -->
