<!--#include virtual="/ssi/up.html" -->
<!--#include virtual="/ssi/main_menu.html" -->
<!--#access=admins { -->
<!--#include virtual="/adm/menu.html" -->
<!-- } -->

<br>

<h3>Общесистемные настройки системы (только просмотр)</h3>
<center>

<table  background="/img/back_form.jpg" border="0" width="95%" class="cell_border">
<tr class="trow_ch">
 <td class="thead_cell"><nobr>&nbsp;</nobr></td>
 <td class="thead_cell"><nobr>Системное название</nobr></td>
 <td class="thead_cell"><nobr>Описание</nobr></td>
 <td class="thead_cell"><nobr>Значение</nobr></td>
 <td class="thead_cell"><nobr>Экспорт для модулей</nobr></td> 
 <td class="thead_cell" width="1%"><nobr>&nbsp;&nbsp;&nbsp;</nobr></td>
</tr>
<!-- SECTION C_LINE -->
<tr class="trow_c<!-- VAR LINE_MOD -->">
 <td class="in_line_box"><nobr>&nbsp;</nobr></td>
 <td class="in_line_box"><nobr><a href="JavaScript: open_object('/cmd?act=constant.show&sys_ns=1&id=<!-- VAR ID -->');""><!-- VAR NAME --></a></nobr></td>
 <td class="in_line_box"><!-- VAR VNAME --></td>
 <td class="in_line_box"><!-- VAR VALUE --></td>
 <td class="in_line_box"><!-- VAR IN_CONFIG --></td>
 <td class="in_line_box"><center><a href="JavaScript: open_small_object('/cmd?act=constant.delete&sys_ns=1&id=<!-- VAR ID -->');"><img src="/img/delete.png" border="0"></a></center></td>
</tr>

<!-- SECTION END -->
<tr class="trow_ch">
 <td class="thead_cell"><a href="JavaScript: open_object('/cmd?act=constant.new&sys_ns=1');"><img src="/img/new_object.gif" border="0"></a>
 </td>
 <td class="thead_cell" colspan="5"><nobr>&nbsp;</nobr></td>
</tr>

</table>

</center>

<!--#include virtual="/ssi/down.html" -->
