<!--#include virtual="/ssi/up.html" -->

<script>

function check_fill()
{
   if (document.forms['ch_pass'].old_pass.value==0) { alert('Введите старый пароль.'); return false; }
   if (document.forms['ch_pass'].new_pass.value==0) { alert('Введите новый пароль.'); return false; }
   if (document.forms['ch_pass'].new_pass2.value==0) { alert('Введите повтор нового пароля.'); return false; }
   if (document.forms['ch_pass'].new_pass.value!=document.forms['ch_pass'].new_pass2.value)
                                                    { alert('Новый пароль и его повтор не совпадают.'); return false; }

   reload_parent(500);
   return true;
}

</script>

<br>
<center>

<table  border="0" width="95%" class="cell_border" background="/img/back_form.jpg">
<tr>
 <td>

<center>
<h2><!-- VAR LOGIN --></h2>
<h3><!-- VAR FIO_F --></h3>
<h3><!-- VAR FIO_I --></h3>
<h3><!-- VAR FIO_O --></h3>


<hr>

<nobr>

<form action="/cmd" name="ch_pass" method="post" onsubmit="return check_fill();">
<input type="hidden" name="act" value="user.ch_pass_apply">
<table width="95%" border="0" class="cell_border">
<tr>
 <td colspan="2" align="center">Смена пароля...</td>
</tr>
<tr>
 <td><nobr>Старый пароль : </nobr></td>
 <td width="100%"><input type="password" name="old_pass" maxlength="16" size="16" class="in_line"></td>
</tr>
<tr>
 <td><nobr>Новый пароль : </nobr></td>
 <td width="100%"><input type="password" name="new_pass" maxlength="16" size="16" class="in_line"></td>
</tr>
<tr>
 <td><nobr>Повтор нового пароля : </nobr></td>
 <td width="100%"><input type="password" name="new_pass2" maxlength="16" size="16" class="in_line"></td>
</tr>
<tr>
 <td colspan="2" align="center"><input type="submit" name="ok" value="Сменить пароль"></td>
</tr>
</table>
</form>
</nobr>

 </td>
</tr>
</table>

<br><br>
</center>

<!--#include virtual="/ssi/down.html" -->
