<!--#include virtual="/ssi/up.html" -->

<!-- <Link type="text/css" rel="stylesheet" href="style.css"> -->

<script>
function check_fill()
{
   if (document.forms['group_form'].name.value==0) { alert('Введите наименование.'); return false; }

   reload_parent(500);
   return true;
}
</script>

<br>
<center>

<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
<tr>
<td>

<form action="/cmd" method="post" name="group_form" onsubmit="return check_fill();">
<input type="hidden" name="act" value="group.apply">
<input type="hidden" name="id" value="<!-- VAR ID -->">

<h1>Группа пользователей</h1>
<table border="0" width="100%">
 <tr>
  <td><nobr>Название: <input type="text" name="name" value="<!-- VAR NAME -->" class="in_line" size="32" maxlength="32"></nobr></td>
 </tr>
</table>

<br>

<h2>Права группы</h2>
<table  background="/img/back_form.jpg" border="0" width="95%" class="cell_border">
<tr class="trow_ch">
 <td class="thead_cell"><nobr>Наименование</nobr></td>
 <td class="thead_cell"><nobr>Значение</nobr></td>
</tr>

<!-- SECTION g_right_line -->
<tr class="trow_c<!-- VAR LINE_MOD -->">
 <td class="in_line_box"><a href="JavaScript: open_object('/cmd?act=group.show&id=<!-- VAR PERM_ID -->&sys_ns=1');"><!-- VAR PERM_NAME --></a></td>
 <td class="in_line_box"><nobr>
    <input type="radio" name="right_value_<!-- VAR PERM_ID -->" value="y_<!-- VAR PERM_ID -->" <!-- VAR VALUE_y --> >Да&nbsp;&nbsp;
    <input type="radio" name="right_value_<!-- VAR PERM_ID -->" value="n_<!-- VAR PERM_ID -->" <!-- VAR VALUE_n --> >Нет&nbsp;&nbsp;
    <input type="radio" name="right_value_<!-- VAR PERM_ID -->" value="str_<!-- VAR PERM_ID -->" <!-- VAR VALUE_str --> >
        <input type="text" name="right_value_str_<!-- VAR PERM_ID -->" value="<!-- VAR RIGHT_VALUE_STR -->" class "in_line" size="32" maxlength="64">
 </nobr></td>
</tr>

<!-- SECTION end -->
</table>


<br>

<center>
<input type="submit" name="ok" value="Готово" onClick="JavaScript: reload_parent(500)">
</center>

<br>
</form>

</td></tr>
</table>

</center>
<br>

<!--#include virtual="/ssi/down.html" -->
