<!--#include virtual="/ssi/up.html" -->
<!--#include virtual="/ssi/main_menu.html" -->
<!--#include virtual="/adm/menu.html" -->

<br>

<center>
<br>
<h2>Пользователи</h2>
<table  background="/img/back_form.jpg" border="0" width="95%" class="cell_border">
<tr class="trow_ch">
 <td class="thead_cell">ID</td>
 <td class="thead_cell"><nobr>Логин</nobr></td>
 <td class="thead_cell"><nobr>ФИО</nobr></td>
 <td class="thead_cell"><nobr>Входит в группы</nobr></td>
</tr>

<!-- SECTION user_line -->
<tr class="trow_c<!-- VAR LINE_MOD -->">
 <td class="in_line_box"><!-- VAR USER_ID --></td>
 <td class="in_line_box"><nobr>
   <a href="JavaScript: open_object('/cmd?act=user.show&id=<!-- VAR USER_ID -->&sys_ns=1');"><!-- VAR USER_LOGIN --></a></nobr>
 </td>
 <td class="in_line_box"><!-- VAR USER_F --> <!-- VAR USER_I --> <!-- VAR USER_O --></td>
 <td class="in_line_box"><!-- VAR USER_GROUPS --></td>
</tr>

<!-- SECTION end_users -->

<tr>
  <td colspan="4" class="in_line_box" align="center">
    <input type="button" value="Новый пользователь" onClick="JavaScript: open_object('/cmd?act=user.new&sys_ns=1');">
  </td>
</tr>
</table>

  
<br><br>
<h2>Разрешения</h2>
<table  background="/img/back_form.jpg" border="0" width="95%" class="cell_border">
<tr class="trow_ch">
 <td class="thead_cell">ID</td>
 <td class="thead_cell"><nobr>Наименование</nobr></td>
</tr>

<!-- SECTION perm_line -->
<tr class="trow_c<!-- VAR LINE_MOD -->">
 <td class="in_line_box"><!-- VAR PERM_ID --></td>
 <td class="in_line_box"><a href="JavaScript: open_object('/cmd?act=permission.show&id=<!-- VAR PERM_ID -->&sys_ns=1');"><!-- VAR PERM_NAME --></a></td>
</tr>

<!-- SECTION perm_end -->
<tr>
  <td colspan="2" class="in_line_box" align="center">
    <input type="button" value="Новое разрешение" onClick="JavaScript: open_object('/cmd?act=permission.new&sys_ns=1');">
  </td>
</tr>
</table>


<br><br>
<h2>Группы</h2>
<table  background="/img/back_form.jpg" border="0" width="95%" class="cell_border">
<tr class="trow_ch">
 <td class="thead_cell">ID</td>
 <td class="thead_cell"><nobr>Наименование</nobr></td>
</tr>

<!-- SECTION group_line -->
<tr class="trow_c<!-- VAR LINE_MOD -->">
 <td class="in_line_box"><!-- VAR GROUP_ID --></td>
 <td class="in_line_box"><a href="JavaScript: open_object('/cmd?act=group.show&id=<!-- VAR GROUP_ID -->&sys_ns=1');"><!-- VAR GROUP_NAME --></a></td>
</tr>

<!-- SECTION end -->
<tr>
  <td colspan="2" class="in_line_box" align="center">
    <input type="button" value="Новая группа" onClick="JavaScript: open_object('/cmd?act=group.new&sys_ns=1');">
  </td>
</tr>
</table>


</center>

<!--#include virtual="/ssi/down.html" -->
