<!--#include virtual="/ssi/up.html" -->

<!-- <Link type="text/css" rel="stylesheet" href="style.css"> -->

<script>
function check_fill()
{
   if (document.forms['perm_form'].name.value==0) { alert('Введите наименование.'); return false; }

   reload_parent(500);
   return true;
}
</script>

<br>
<center>

<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
<tr>
<td>

<form action="/cmd" method="post" name="perm_form" onsubmit="return check_fill();">
<input type="hidden" name="act" value="permission.apply">
<input type="hidden" name="id" value="<!-- VAR ID -->">

<h1>Разрешение</h1>
<table border="0" width="100%">
 <tr>
  <td><nobr>Наименование: <input type="text" name="name" value="<!-- VAR NAME -->" class="in_line" size="32" maxlength="64"></nobr></td>
 </tr>
</table>

<br>

<center>
<input type="submit" name="ok" value="Готово" onClick="JavaScript: reload_parent(500)">
</center>

<br>
</form>

</td></tr>
</table>

</center>
<br>

<!--#include virtual="/ssi/down.html" -->
