<!--#include virtual="/ssi/up.html" -->

<script>

function check_fill()
{
   if (document.forms['user_form'].login.value==0) { alert('Введите имя.'); return false; }
   if (document.forms['user_form'].pass.value==0) { alert('Введите пароль.'); return false; }
   if (document.forms['user_form'].pass2.value==0) { alert('Введите повторный пароль.'); return false; }
   if (document.forms['user_form'].f.value==0) { alert('Введите фамилию.'); return false; }
   if (document.forms['user_form'].i.value==0) { alert('Введите имя.'); return false; }

   reload_parent(500);
   return true;
}

</script>

<br>

<form action="/cmd" method="post" name="user_form" onsubmit="return check_fill();">
<input type="hidden" name="act" value="user.apply">
<input type="hidden" name="id" value="<!-- VAR ID -->">

<h1>Пользователь</h1>
<table width="95%" border="0">
<tr>
  <td colspan="2"><h2>Регистрационная информация</h2></td>
</tr>

<tr>
 <td><nobr>Имя пользователя : </nobr></td>
 <td width="100%"><input type="text" name="login" maxlength="32" size="32" class="in_line" value="<!-- VAR LOGIN -->"></td>
</tr>
<tr>
 <td><nobr>Пароль : </nobr></td>
 <td width="100%"><input type="password" name="pass" maxlength="16" size="16" class="in_line" value="<!-- VAR PASS -->"></td>
</tr>
<tr>
 <td><nobr>Пароль еще раз : </nobr></td>
 <td width="100%"><input type="password" name="pass2" maxlength="16" size="16" class="in_line" value="<!-- VAR PASS2 -->"></td>
</tr>

<tr>
 <td><nobr>Реальное ФИО : </nobr></td>
 <td width="100%"><input type="text" name="f" maxlength="64" size="32" class="in_line" value="<!-- VAR F -->"></td>
 <td width="100%"><input type="text" name="i" maxlength="64" size="32" class="in_line" value="<!-- VAR I -->"></td>
 <td width="100%"><input type="text" name="o" maxlength="64" size="32" class="in_line" value="<!-- VAR O -->"></td>
</tr>

<table width="95%" border="0">
<!--<tr>-->
  <td colspan="2"><!--<hr>--><h2>Входит в группы</h2>

  <!-- SECTION g_line -->
  <input type="checkbox" name="user_group_<!-- VAR USER_GROUP_ID -->" value="user_group_<!-- VAR USER_GROUP_ID -->" <!-- VAR USER_IS_IN -->><!-- VAR USER_GROUP_NAME --><br>

  <!-- SECTION g_end -->
  </td>
<!--</tr>-->

<!--<tr>-->
  <td colspan="2"><!--<hr>--><h2>Доступные очереди</h2>

  <!-- SECTION q_line -->
  <input type="checkbox" name="user_q_<!-- VAR USER_Q_ID -->" value="user_q_<!-- VAR USER_Q_ID -->" <!-- VAR USER_HAS -->><!-- VAR USER_Q_VNAME --><br>

  <!-- SECTION end -->
  </td>
<!--</tr>-->
</table>

<tr>
 <td colspan="2" align="center"><input type="submit" name="ok" value="Сохранить" onClick="JavaScript: reload_parent(100);"></td>
</tr>
</table>
</form>
</nobr>

<br><br>
</center>

<!--#include virtual="/ssi/down.html" -->
