<!--#include virtual="/ssi/up.html" -->

<table border="0">
 <tr height="150">
  <td colsapn="3">&nbsp;</td>
 </tr>
 <tr>
  <td width="50%">&nbsp;</td>
  <td>

   <form action="/cmd" method="post">
    <input type="hidden" name="act" value="auth_do">
    <input type="hidden" name="do" value="<!-- VAR do -->">
    <table class="cell_border" background="img/back_form.jpg">
     <tr> <td colspan="2"> <b> Вход в систему... </b> </td> </tr>
     <tr> <td colspan="2"><hr></td> </tr>
     <tr>
      <td>Пользователь</td>
      <td><input type="edit" name="username" value="<!-- VAR user_name -->"></td>
     </tr>
     <tr>
      <td>Пароль</td>
      <td><input type="password" name="userpass" value=""></td>
     </tr>
     <tr> <td colspan="2"><hr></td> </tr>
     <tr>
      <td colspan="2" align="center"><input type="submit" value=" Вход "></td>
     </tr>

    </table> 
   </form>

  </td>
  <td width="100%">&nbsp;</td>
 <tr height="500">
  <td colsapn="3">&nbsp</td>
 </tr>
</table>


<!--#include virtual="/ssi/down.html" -->