<!--#include virtual="/ssi/up.html" -->
<!--#include virtual="/ssi/main_menu.html" -->

<table border="0" width="100%">
<tr valign="top">
 <td>

<table border="0">

 <tr height="100">
  <td colspan="3"></td>
 </tr>
 
 <tr>
  <td width="50%">&nbsp;</td>
  <td class="cell_border" background="/img/back_form.jpg">
   <nobr>
    <H1>&nbsp;&nbsp;Добрый день.&nbsp;&nbsp;</H1><br>
    <H2>&nbsp;&nbsp;Cистема готова к работе...&nbsp;&nbsp;</H2>
   </nobr>
  </td>
  <td width="100%">&nbsp;</td>
 </tr>
 
 <tr><td colspan="3"><br><br><br><br></td></tr>
 
</table>

  </td>
  
  
  <td width="30%">
   <!--#include virtual="/news.html" -->
  </td>
  
 </tr>
 
</table>

<!--#include virtual="/ssi/down.html" -->