<!--#include virtual="/ssi/up.html" -->
<!--#include virtual="/ssi/main_menu.html" -->

<table border="0">
 <tr><td colspan="3">
<br><br>
  Уважаемые пользователи программы - т.к. система только запущена в эксплуатацию, то для более комфортной работы просьба ознакомиться со следующими матералами:<br>
  <a href="JavaScript: open_big_object('/tpl?file=/help/about.html');"> Общие положения</a>
<!--#access=up,admins { -->
  :: <a href="JavaScript: open_big_object('/tpl?file=/help/up_begin.html');">Начало работы</a>
<!-- } -->

<!--#access=up,admins { -->
  :: <a href="JavaScript: open_big_object('/tpl?file=/help/about.html');">Кадровая информация</a>
<!-- } -->


<!--#access=ukr,admins { -->
  <a href="JavaScript: open_big_object('/tpl?file=/help/about.html');"> </a>
<!-- } -->


</td></tr>
 <tr height="150">
  <td colsapn="3">
</td>
 </tr>
 <tr>
  <td width="50%">&nbsp;</td>
  <td class="cell_border" background="/img/back_form.jpg">
   <nobr>
    <H1>&nbsp;&nbsp;Добрый день.&nbsp;&nbsp;</H1><br>
    <H2>&nbsp;&nbsp;Cистема готова к работе...&nbsp;&nbsp;</H2>
   </nobr>
  </td>
  <td width="100%">&nbsp;</td>
 <tr height="500">
  <td colsapn="3">&nbsp</td>
 </tr>
</table>

<!--#include virtual="/ssi/down.html" -->
