<!--#include virtual="/ssi/up.html" -->

<table border="0" width="100%" height="100%">
 
<tr>
  <td align="center">

   <form action="/cmd" method="post">
    <input type="hidden" name="act" value="auth">    
    <table class="cell_border" background="img/back_form.jpg">
     <tr> <td colspan="2"> <b> Вход в систему... </b> </td> </tr>
     <tr> <td colspan="2"><hr></td> </tr>
     <tr>
      <td>Пользователь</td>
      <td><input type="edit" name="username" value=""></td>
     </tr>
     <tr>
      <td>Пароль</td>
      <td><input type="password" name="userpass" value=""></td>
     </tr>
     <tr> <td colspan="2"><hr></td> </tr>
     <tr>
      <td colspan="2" align="center"><input type="submit" value=" Вход "></td>
     </tr>

    </table> 
   </form>

  </td>
</tr>

<tr valign="bottom">
  <td align="center" class="comment">Видео Консультант.</td>
</tr>
</table>


<!--#include virtual="/ssi/down.html" -->