<center><h3>Помощь</h3></center>
<table border="0" width="100%">

 <tr>
   <td width="10%">&nbsp;</td>
   <td width="80%" class="cell_border">
   
<table width="100%" background="/img/back_form.jpg">
 <tr><td>
  Общая информация:<br>
  <!-- |--<a href="JavaScript: open_big_object('/tpl?file=/help/begin.html');" class="comment">Введение</a><br> -->
  |--<a href="JavaScript: open_big_object('/tpl?file=/help/about.html');">Как работать</a><br>
  |--<a href="JavaScript: open_big_object('/tpl?file=/help/search.html');">Поиск в таблицах</a><br>
<!--  |--<a href="JavaScript: open_big_object('/tpl?file=/help/up_begin.html');">Должности</a><br>
  |--<a href="JavaScript: open_big_object('/tpl?file=/help/up_begin.html');">Пользователь</a><br>
  |--<a href="JavaScript: open_big_object('/tpl?file=/help/up_begin.html');">Выход</a><br> -->
</td></tr>
</table>
   
   </td>
   <td width="10%">&nbsp;</td>
 </tr>

</table>
<br>

<center><h3>Обратная связь</h3></center>
<table border="0" width="100%">

 <tr>
   <td width="10%">&nbsp;</td>
   <td width="80%" class="cell_border">
   
<table width="100%" background="/img/back_form.jpg">
 <tr><td>
  E-Mail адрес службы технической поддержки <a href="mailto:support@rd-g.ru">support@rd-g.ru</a><br><br>
  Телефон +7-495-918-22-83
</td></tr>
</table>
   </td>
   <td width="10%">&nbsp;</td>
 </tr>

</table>
<br>