<!--#include virtual="/ssi/up.html" -->

<!-- <Link type="text/css" rel="stylesheet" href="style.css"> -->

<script>
function check_fill()
{
   if (document.forms['hserver_form'].hserver_dns_name.value=='') { alert('Введите сетевое (DNS) имя.'); return false; }
   if (document.forms['hserver_form'].hserver_control_ip.value=='') { alert('Введите IP-адрес.'); return false; }
   if (document.forms['hserver_form'].hserver_control_port.value=='') { alert('Введите порт.'); return false; }
   if (document.forms['hserver_form'].hserver_doc_root.value=='') { alert('Введите путь к каталогу шаблонов.'); return false; }

   reload_parent(500);
   return true;
}
</script>

<br>
<center>

<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
<tr>
<td>

<form action="/cmd" method="post" name="hserver_form" onsubmit="return check_fill();">
<input type="hidden" name="act" value="hserver.apply">
<input type="hidden" name="hserver_id" value="<!-- VAR HSERVER_ID -->">

<h1>Сервер HTTP интерфейса</h1>
<table border="0" width="100%">

 <tr>
  <td><nobr>Сетевое (DNS) имя:</nobr></td>
  <td><input type="text" name="hserver_dns_name" value="<!-- VAR HSERVER_DNS_NAME -->" class="in_line" size="32" maxlength="64"></td>
 </tr>

 <tr>
  <td><nobr>IP-адрес (любой - any):</nobr></td>
  <td width="100%"><input type="text" name="hserver_control_ip" value="<!-- VAR HSERVER_CONTROL_IP -->" class="in_line" size="32" maxlength="16"></td>
 </tr>

 <tr>
  <td><nobr>Порт (обычно - 46080):</nobr></td>
  <td width="100%"><input type="text" name="hserver_control_port" value="<!-- VAR HSERVER_CONTROL_PORT -->" class="in_line" size="32" maxlength="5"></td>
 </tr>
 
 <tr>
  <td><nobr>Путь к каталогу шаблонов:</nobr></td>
  <td width="100%"><input type="text" name="hserver_doc_root" value="<!-- VAR HSERVER_DOC_ROOT -->" class="in_line" size="32" maxlength="128"></td>
 </tr>
 
 <tr>
  <td><nobr>Уровни протоколирования:</nobr></td>
  <td width="100%"><input type="text" name="hserver_log_levels" value="<!-- VAR HSERVER_LOG_LEVELS -->" class="in_line" size="32" maxlength="255"></td>
 </tr>

</table>

<br>

<center>
<input type="submit" name="ok" value="Готово" onClick="JavaScript: reload_parent(500)">
</center>

<br>
</form>

</td></tr>
</table>

</center>
<br>

<!--#include virtual="/ssi/down.html" -->
