<!--#include virtual="/ssi/up.html" -->

<!-- <Link type="text/css" rel="stylesheet" href="style.css"> -->

<script>
function check_fill()
{
   if (document.forms['mserver_form'].mserver_dns_name.value=='') { alert('Введите сетевое (DNS) имя.'); return false; }
   if (document.forms['mserver_form'].mserver_control_ip.value=='') { alert('Введите IP-адрес.'); return false; }
   if (document.forms['mserver_form'].mserver_control_port.value=='') { alert('Введите порт.'); return false; }

   reload_parent(500);
   return true;
}
</script>

<br>
<center>

<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
<tr>
<td>

<form action="/cmd" method="post" name="mserver_form" onsubmit="return check_fill();">
<input type="hidden" name="act" value="mserver.apply">
<input type="hidden" name="mserver_id" value="<!-- VAR MSERVER_ID -->">

<h1>Главный сервер</h1>
<table border="0" width="100%">

 <tr>
  <td><nobr>Сетевое (DNS) имя:</nobr></td>
  <td><input type="text" name="mserver_dns_name" value="<!-- VAR MSERVER_DNS_NAME -->" class="in_line" size="32" maxlength="64"></td>
 </tr>

 <tr>
  <td><nobr>IP-адрес (любой - any):</nobr></td>
  <td width="100%"><input type="text" name="mserver_control_ip" value="<!-- VAR MSERVER_CONTROL_IP -->" class="in_line" size="32" maxlength="16"></td>
 </tr>

 <tr>
  <td><nobr>Порт (обычно - 46000):</nobr></td>
  <td width="100%"><input type="text" name="mserver_control_port" value="<!-- VAR MSERVER_CONTROL_PORT -->" class="in_line" size="32" maxlength="5"></td>
 </tr>
 
 <tr>
  <td><nobr>Уровни протоколирования:</nobr></td>
  <td width="100%"><input type="text" name="mserver_log_levels" value="<!-- VAR MSERVER_LOG_LEVELS -->" class="in_line" size="32" maxlength="255"></td>
 </tr>
 
 <tr>
  <td>
    <nobr>
        Использовать (остальные нужно выключить):
        <input type="checkbox" name="mserver_is_enabled" value="1" <!-- VAR MSERVER_IS_ENABLED --> class="in_line" size="32" maxlength="5">
    </nobr>
  </td>
 </tr>

</table>

<br>

<center>
<input type="submit" name="ok" value="Готово" onClick="JavaScript: reload_parent(500)">
</center>

<br>
</form>

</td></tr>
</table>

</center>
<br>

<!--#include virtual="/ssi/down.html" -->
