<!--#include virtual="/ssi/up.html" -->

<!-- <Link type="text/css" rel="stylesheet" href="style.css"> -->

<script>
function check_fill()
{
   if (document.forms['qserver_form'].qserver_dns_name.value=='') { alert('Введите сетевое (DNS) имя.'); return false; }
   if (document.forms['qserver_form'].qserver_control_ip.value=='') { alert('Введите IP-адрес для команд.'); return false; }
   if (document.forms['qserver_form'].qserver_control_port.value=='') { alert('Введите порт для команд.'); return false; }
   if (document.forms['qserver_form'].qserver_data_ip.value=='') { alert('Введите IP-адрес для данных.'); return false; }
   if (document.forms['qserver_form'].qserver_data_port.value=='') { alert('Введите порт для данных.'); return false; }

   reload_parent(500);
   return true;
}
</script>

<br>
<center>

<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
<tr>
<td>

<form action="/cmd" method="post" name="qserver_form" onsubmit="return check_fill();">
<input type="hidden" name="act" value="qserver.apply">
<input type="hidden" name="qserver_id" value="<!-- VAR QSERVER_ID -->">

<h1>Сервер очереди</h1>
<table border="0" width="100%">

 <tr>
  <td><nobr>Сетевое (DNS) имя:</nobr></td>
  <td><input type="text" name="qserver_dns_name" value="<!-- VAR QSERVER_DNS_NAME -->" class="in_line" size="32" maxlength="64"></td>
 </tr>

 <tr>
  <td><nobr>IP-адрес для команд (любой - any):</nobr></td>
  <td width="100%"><input type="text" name="qserver_control_ip" value="<!-- VAR QSERVER_CONTROL_IP -->" class="in_line" size="32" maxlength="16"></td>
 </tr>

 <tr>
  <td><nobr>Порт для команд (обычно - 46001):</nobr></td>
  <td width="100%"><input type="text" name="qserver_control_port" value="<!-- VAR QSERVER_CONTROL_PORT -->" class="in_line" size="32" maxlength="5"></td>
 </tr>
 
 <tr>
  <td><nobr>IP-адрес для данных (любой - any):</nobr></td>
  <td width="100%"><input type="text" name="qserver_data_ip" value="<!-- VAR QSERVER_DATA_IP -->" class="in_line" size="32" maxlength="16"></td>
 </tr>

 <tr>
  <td><nobr>Порт для данных (обычно - 46011):</nobr></td>
  <td width="100%"><input type="text" name="qserver_data_port" value="<!-- VAR QSERVER_DATA_PORT -->" class="in_line" size="32" maxlength="5"></td>
 </tr>
 
 <tr>
  <td><nobr>Уровни протоколирования:</nobr></td>
  <td width="100%"><input type="text" name="qserver_log_levels" value="<!-- VAR QSERVER_LOG_LEVELS -->" class="in_line" size="32" maxlength="255"></td>
 </tr>
 
</table>

<br>

<center>
<input type="submit" name="ok" value="Готово" onClick="JavaScript: reload_parent(500)">
</center>

<br>
</form>

</td></tr>
</table>

</center>
<br>

<!--#include virtual="/ssi/down.html" -->
