<!--#include virtual="/ssi/up.html" -->

<!-- <Link type="text/css" rel="stylesheet" href="style.css"> -->

<script>
function check_fill()
{
   if (document.forms['queue_form'].queue_vname.value=='') { alert('Введите наименование для отображения.'); return false; }
   if (document.forms['queue_form'].queue_name.value=='') { alert('Введите системное имя.'); return false; }

   reload_parent(500);
   return true;
}
</script>

<br>
<center>

<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
<tr>
<td>

<form action="/cmd" method="post" name="queue_form" onsubmit="return check_fill();">
<input type="hidden" name="act" value="queue.apply">
<input type="hidden" name="queue_id" value="<!-- VAR QUEUE_ID -->">
<input type="hidden" name="qserver_id" value="<!-- VAR QSERVER_ID -->">

<h1>Очередь сервера очередей <!-- VAR QSERVER_DNS_NAME --></h1>
<table border="0" width="100%">

 <tr>
  <td><nobr>Наименование для отображения:</nobr></td>
  <td><input type="text" name="queue_vname" value="<!-- VAR QUEUE_VNAME -->" class="in_line" size="32" maxlength="32"></td>
 </tr>

 <tr>
  <td><nobr>Системное имя:</nobr></td>
  <td width="100%"><input type="text" name="queue_name" value="<!-- VAR QUEUE_NAME -->" class="in_line" size="32" maxlength="32"></td>
 </tr>
 
</table>

<br>
<hr>
Время работы очереди:
<br>
<br>
<table border="0" width="100%">
 <tr>
  <td>&nbsp;</td>
  <td align="center">С (ЧЧ:ММ)</td>
  <td width="5%">&nbsp;</td>
  <td align="center">ПО (ЧЧ:ММ)</td>
  <td width="100%">&nbsp;</td>
 </tr>
 <tr>
  <td>Пон.</td>
  <td><nobr><input type="text" name="bh_1" value="<!-- VAR BH_1 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="bm_1" value="<!-- VAR BM_1 -->" class="in_line" size="4" maxlength="2"></nobr></td>
  <td>&nbsp;</td>
  <td><nobr><input type="text" name="eh_1" value="<!-- VAR EH_1 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="em_1" value="<!-- VAR EM_1 -->" class="in_line" size="4" maxlength="2"></nobr></td>
 </tr>
 <tr>
  <td>Вт.</td>
  <td><nobr><input type="text" name="bh_2" value="<!-- VAR BH_2 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="bm_2" value="<!-- VAR BM_2 -->" class="in_line" size="4" maxlength="2"></nobr></td>
  <td>&nbsp;</td>
  <td><nobr><input type="text" name="eh_2" value="<!-- VAR EH_2 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="em_2" value="<!-- VAR EM_2 -->" class="in_line" size="4" maxlength="2"></nobr></td>
 </tr>
 <tr>
  <td>Ср.</td>
  <td><nobr><input type="text" name="bh_3" value="<!-- VAR BH_3 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="bm_3" value="<!-- VAR BM_3 -->" class="in_line" size="4" maxlength="2"></nobr></td>
  <td>&nbsp;</td>
  <td><nobr><input type="text" name="eh_3" value="<!-- VAR EH_3 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="em_3" value="<!-- VAR EM_3 -->" class="in_line" size="4" maxlength="2"></nobr></td>
 </tr>
 <tr>
  <td>Чет.</td>
  <td><nobr><input type="text" name="bh_4" value="<!-- VAR BH_4 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="bm_4" value="<!-- VAR BM_4 -->" class="in_line" size="4" maxlength="2"></nobr></td>
  <td>&nbsp;</td>
  <td><nobr><input type="text" name="eh_4" value="<!-- VAR EH_4 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="em_4" value="<!-- VAR EM_4 -->" class="in_line" size="4" maxlength="2"></nobr></td>
 </tr>
 <tr>
  <td>Пят.</td>
  <td><nobr><input type="text" name="bh_5" value="<!-- VAR BH_5 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="bm_5" value="<!-- VAR BM_5 -->" class="in_line" size="4" maxlength="2"></nobr></td>
  <td>&nbsp;</td>
  <td><nobr><input type="text" name="eh_5" value="<!-- VAR EH_5 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="em_5" value="<!-- VAR EM_5 -->" class="in_line" size="4" maxlength="2"></nobr></td>
 </tr>
 <tr>
  <td>Суб.</td>
  <td><nobr><input type="text" name="bh_6" value="<!-- VAR BH_6 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="bm_6" value="<!-- VAR BM_6 -->" class="in_line" size="4" maxlength="2"></nobr></td>
  <td>&nbsp;</td>
  <td><nobr><input type="text" name="eh_6" value="<!-- VAR EH_6 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="em_6" value="<!-- VAR EM_6 -->" class="in_line" size="4" maxlength="2"></nobr></td>
 </tr>
 <tr>
  <td>Вос.</td>
  <td><nobr><input type="text" name="bh_7" value="<!-- VAR BH_7 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="bm_7" value="<!-- VAR BM_7 -->" class="in_line" size="4" maxlength="2"></nobr></td>
  <td>&nbsp;</td>
  <td><nobr><input type="text" name="eh_7" value="<!-- VAR EH_7 -->" class="in_line" size="4" maxlength="2">:<input type="text" name="em_7" value="<!-- VAR EM_7 -->" class="in_line" size="4" maxlength="2"></nobr></td>
 </tr>
</table>

<br>
<hr>

<center>
<input type="submit" name="ok" value="Готово" onClick="JavaScript: reload_parent(500)">
</center>

<br>
</form>

</td></tr>
</table>

</center>
<br>

<!--#include virtual="/ssi/down.html" -->
