<!--#include virtual="/ssi/up.html" -->

<script language="JavaScript">

var select=<!-- VAR SELECT -->;

function select_done(id,name)
{
  if (opener)
  {
    location.href='/cmd?act=sys_return'+'&0='+id+'&1='+name;
  }
  else
  {
    close;
  }
}

function show(id)
{
  open_big_object('/cmd?act=queue.show&sys_ns=1'+'&queue_id='+id);
}

</script>

<br>

<h3>Очереди сервера очередей <!-- VAR QSERVER_DNS_NAME --></h3>
<center>

<table  background="/img/back_form.jpg" border="0" width="95%" class="cell_border">
<tr class="trow_ch">
 <td class="thead_cell"><nobr>&nbsp;</nobr></td>
 <td class="thead_cell"><nobr>Очередь</nobr></td>
 <td class="thead_cell"><nobr>Системное имя</nobr></td>
 </tr>


<!-- SECTION LINE -->
<tr class="trow_c<!-- VAR LINE_MOD -->">
 <td class="in_line_box"><nobr>&nbsp;</nobr></td>
 <td class="in_line_box">
 <nobr>
  <script>
    if (select)
      { document.write('<a href="JavaScript: select_done(\'<!-- VAR Q_ID -->\',\'<!-- VAR Q_VNAME -->\');">'); }
    else
      { document.write('<a href="JavaScript: show(\'<!-- VAR Q_ID -->\');">'); }
  </script>
  
  <!-- VAR Q_VNAME --></a> 
 </nobr></td>
 <td class="in_line_box" align="center"><nobr><!-- VAR Q_NAME --></nobr></td>
</tr>

<!-- SECTION END -->
<tr class="trow_ch">
 <td class="thead_cell"><a href="JavaScript: open_big_object('/cmd?act=queue.new&sys_ns=1&qserver_id=<!-- VAR QSERVER_ID -->&qserver_dns_name=<!-- VAR QSERVER_DNS_NAME -->');"><img src="/img/new_object.gif" border="0"></a>
 </td>
 <td class="thead_cell" colspan="2"><nobr>&nbsp;</nobr></td>
</tr>
</table>
<br><br>

</center>

<!--#include virtual="/ssi/down.html" -->
