<!--#include virtual="/ssi/up.html" -->
<!--#include virtual="/ssi/main_menu.html" -->
<!--#access=admins { -->
<!--#include virtual="/adm/menu.html" -->
<!-- } -->

<script language="JavaScript">

function select_done(id,name)
{
  if (opener)
  {
    location.href='/cmd?act=sys_return'+'&0='+id+'&1='+name;
  }
  else
  {
    close;
  }
}

function show_hserver(id)
{
  open_object('/cmd?act=hserver.show&sys_ns=1'+'&hserver_id='+id);
}

function show_mserver(id)
{
  open_object('/cmd?act=mserver.show&sys_ns=1'+'&mserver_id='+id);
}

function show_qserver(id)
{
  open_object('/cmd?act=qserver.show&sys_ns=1'+'&qserver_id='+id);
}

</script>

<br>

<h3>Сервера</h3>
<center>

<!-- SECTION MS_BEGIN -->
<b>Главный сервер.</b><br><br>

<table  background="/img/back_form.jpg" border="0" width="95%" class="cell_border">
<tr class="trow_ch">
 <td class="thead_cell"><nobr>&nbsp;</nobr></td>
 <td class="thead_cell"><nobr>Сетевое имя (DNS)</nobr></td>
 <td class="thead_cell"><nobr>Активен</nobr></td>
 <td class="thead_cell"><nobr>IP:Порт - управление</nobr></td>
 <td class="thead_cell"><nobr>Уровни протоколирования</nobr></td>
</tr>
<!-- SECTION MS_LINE -->
<tr class="trow_c<!-- VAR LINE_MOD -->">
 <td class="in_line_box"><nobr>&nbsp;</nobr></td>
 <td class="in_line_box">
 <nobr>
  <script>
    if (opener)
      { document.write('<a href="JavaScript: select_done(\'<!-- VAR MS_ID -->\',\'<!-- VAR MS_DNS_NAME -->\');">'); }
    else
      { document.write('<a href="JavaScript: show_mserver(\'<!-- VAR MS_ID -->\');">'); }
  </script>
  
  <!-- VAR MS_DNS_NAME --></a> 
 </nobr></td>
 <td class="in_line_box" align="center"><nobr><!-- VAR MS_IS_ENABLED --></nobr></td>
 <td class="in_line_box" align="center"><nobr><!-- VAR MS_CONTROL_IP -->:<!-- VAR MS_CONTROL_PORT --></nobr></td>
 <td class="in_line_box" align="center"><nobr><!-- VAR MS_LOG_LEVELS --></nobr></td>
</tr>

<!-- SECTION MS_END -->
<tr class="trow_ch">
 <td class="thead_cell">
    <a href="JavaScript: open_object('/cmd?act=mserver.new&sys_ns=1');">
        <img src="/img/new_object.gif" border="0">
    </a>
 </td>
 <td class="thead_cell" colspan="5"><nobr>&nbsp;</nobr></td>
</tr>
</table>
<br><br>

<!-- SECTION QS_BEGIN -->
<b>Cервера очередей.</b><br><br>

<table  background="/img/back_form.jpg" border="0" width="95%" class="cell_border">
<tr class="trow_ch">
 <td class="thead_cell"><nobr>&nbsp;</nobr></td>
 <td class="thead_cell"><nobr>Сетевое имя (DNS)</nobr></td>
 <td class="thead_cell"><nobr>IP:Порт - управление</nobr></td>
 <td class="thead_cell"><nobr>IP:Порт - данные</nobr></td>
 <td class="thead_cell"><nobr>Уровни протоколирования</nobr></td>
 <td class="thead_cell"><nobr>Очереди</nobr></td>
 <td class="thead_cell"><nobr>Хранилища</nobr></td>
</tr>
<!-- SECTION QS_LINE -->
<tr class="trow_c<!-- VAR LINE_MOD -->">
 <td class="in_line_box"><nobr>&nbsp;</nobr></td>
 <td class="in_line_box">
 <nobr>
  <script>
    if (opener)
      { document.write('<a href="JavaScript: select_done(\'<!-- VAR QS_ID -->\',\'<!-- VAR QS_DNS_NAME -->\');">'); }
    else
      { document.write('<a href="JavaScript: show_qserver(\'<!-- VAR QS_ID -->\');">'); }
  </script>
  
  <!-- VAR QS_DNS_NAME --></a>
 </nobr></td>
 <td class="in_line_box" align="center"><nobr><!-- VAR QS_CONTROL_IP -->:<!-- VAR QS_CONTROL_PORT --></nobr></td>
 <td class="in_line_box" align="center"><nobr><!-- VAR QS_DATA_IP -->:<!-- VAR QS_DATA_PORT --></nobr></td>
 <td class="in_line_box" align="center"><nobr><!-- VAR QS_LOG_LEVELS --></nobr></td>
 <td class="in_line_box" align="center"><nobr>
    <a href="JavaScript: open_object('/cmd?act=queues_list.show&sys_ns=1&qserver_id=<!-- VAR QS_ID -->&select=0');">
        <img src="/img/look_in.png" border="0">
    </a>
 </nobr></td>
 <td class="in_line_box" align="center"><nobr>
    <a href="JavaScript: open_object('/cmd?act=storages_list.show&sys_ns=1&qserver_id=<!-- VAR QS_ID -->&select=0');">
        <img src="/img/look_in.png" border="0">
    </a>
 </nobr></td>
</tr>

<!-- SECTION QS_END -->
<tr class="trow_ch">
 <td class="thead_cell">
    <a href="JavaScript: open_object('/cmd?act=qserver.new&sys_ns=1');">
        <img src="/img/new_object.gif" border="0">
    </a>
 </td>
 <td class="thead_cell" colspan="6"><nobr>&nbsp;</nobr></td>
</tr>
</table>
<br><br>

<!-- SECTION HS_BEGIN -->
<b>Cервера HTTP интерфейса.</b><br><br>

<table  background="/img/back_form.jpg" border="0" width="95%" class="cell_border">
<tr class="trow_ch">
 <td class="thead_cell"><nobr>&nbsp;</nobr></td>
 <td class="thead_cell"><nobr>Сетевое (DNS) имя</nobr></td>
 <td class="thead_cell"><nobr>IP:Порт</nobr></td>
 <td class="thead_cell"><nobr>Каталог HTML-шаблонов</nobr></td>
 <td class="thead_cell"><nobr>Уровни протоколирования</nobr></td>
</tr>
<!-- SECTION HS_LINE -->
<tr class="trow_c<!-- VAR LINE_MOD -->">
 <td class="in_line_box"><nobr>&nbsp;</nobr></td>
 <td class="in_line_box">
 <nobr>
  <script>
    if (opener)
      { document.write('<a href="JavaScript: select_done(\'<!-- VAR HS_ID -->\',\'<!-- VAR J=HS_DNS_NAME -->\');">'); }
    else
      { document.write('<a href="JavaScript: show_hserver(\'<!-- VAR HS_ID -->\');">'); }
  </script>
  
  <!-- VAR HS_DNS_NAME --></a> 
 </nobr></td>
 <td class="in_line_box" align="center"><nobr><!-- VAR HS_CONTROL_IP -->:<!-- VAR HS_CONTROL_PORT --></nobr></td>
 <td class="in_line_box" align="center"><nobr><!-- VAR HS_DOC_ROOT --></nobr></td>
 <td class="in_line_box" align="center"><nobr><!-- VAR HS_LOG_LEVELS --></nobr></td>
</tr>

<!-- SECTION HS_END -->
<tr class="trow_ch">
 <td class="thead_cell">
    <a href="JavaScript: open_object('/cmd?act=hserver.new&sys_ns=1');">
        <img src="/img/new_object.gif" border="0">
    </a>
 </td>
 <td class="thead_cell" colspan="6"><nobr>&nbsp;</nobr></td>
</tr>
</table>
<br><br>


<!-- SECTION END -->

</center>

<!--#include virtual="/ssi/down.html" -->
