<!--#include virtual="/ssi/up.html" -->

<script language="JavaScript">

var select=<!-- VAR SELECT -->;

function select_done(id,name)
{
  if (opener)
  {
    location.href='/cmd?act=sys_return'+'&0='+id+'&1='+name;
  }
  else
  {
    close;
  }
}

function show(id)
{
  open_object('/cmd?act=storage.show&sys_ns=1'+'&storage_id='+id);
}

</script>

<br>

<h3>Хранилища сервера очередей <!-- VAR QSERVER_DNS_NAME --></h3>
<center>

<table  background="/img/back_form.jpg" border="0" width="95%" class="cell_border">
    <tr class="trow_ch">
         <td class="thead_cell"><nobr>&nbsp;</nobr></td>
         <td class="thead_cell"><nobr>Путь</nobr></td>
         <td class="thead_cell"><nobr>Тип файлов</nobr></td>
         <td class="thead_cell"><nobr>Макс. размер, Мб</nobr></td>
    </tr>

    <!-- SECTION LINE -->
    <tr class="trow_c<!-- VAR LINE_MOD -->">
        <td class="in_line_box"><nobr>&nbsp;</nobr></td>
        <td class="in_line_box"><nobr>
            <script>
            if (select)
              { document.write('<a href="JavaScript: select_done(\'<!-- VAR STORAGE_ID -->\',\'<!-- VAR STORAGE_PATH -->\');">'); }
            else
              { document.write('<a href="JavaScript: show(\'<!-- VAR STORAGE_ID -->\');">'); }
            </script>
            <!-- VAR STORAGE_PATH --></a>
        </nobr></td>
        <td class="in_line_box" align="center"><nobr><!-- VAR STORAGE_MTYPES --></nobr></td>
        <td class="in_line_box" align="center"><nobr><!-- VAR STORAGE_MAX_SIZE --></nobr></td>
    </tr>

    <!-- SECTION END -->
    <tr class="trow_ch">
        <td class="thead_cell">
            <a href="JavaScript: open_object('/cmd?act=storage.new&sys_ns=1&qserver_id=<!-- VAR QSERVER_ID -->&qserver_dns_name=<!-- VAR QSERVER_DNS_NAME -->');">
                <img src="/img/new_object.gif" border="0">
            </a>
        </td>
        <td class="thead_cell" colspan="3"><nobr>&nbsp;</nobr></td>
    </tr>
</table>
<br><br>

</center>

<!--#include virtual="/ssi/down.html" -->
