<!--#include virtual="/ssi/up.html" -->

<!-- <Link type="text/css" rel="stylesheet" href="style.css"> -->

<script>
function check_fill()
{
   if (document.forms['storage_form'].storage_path.value=='') { alert('Введите путь.'); return false; }
   if (document.forms['storage_form'].storage_max_size.value=='') { alert('Введите максимальный размер.'); return false; }

   reload_parent(500);
   return true;
}
</script>

<br>
<center>

<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
<tr>
<td>

<form action="/cmd" method="post" name="storage_form" onsubmit="return check_fill();">
<input type="hidden" name="act" value="storage.apply">
<input type="hidden" name="storage_id" value="<!-- VAR STORAGE_ID -->">
<input type="hidden" name="qserver_id" value="<!-- VAR QSERVER_ID -->">

<h1>Хранилище сервера очередей <!-- VAR QSERVER_DNS_NAME --></h1>
<table border="0" width="100%">

 <tr>
  <td><nobr>Путь:</nobr></td>
  <td><input type="text" name="storage_path" value="<!-- VAR STORAGE_PATH -->" class="in_line" size="80" maxlength="255"></td>
 </tr>

 <tr>
  <td><nobr>Тип хранимых файлов:</nobr></td>
  <td><input type="text" name="storage_mtypes" value="<!-- VAR STORAGE_MTYPES -->" class="in_line" size="80" maxlength="255"></td>
 </tr>
 
 <tr>
  <td><nobr>Максимальный размер в Мб:</nobr></td>
  <td><input type="text" name="storage_max_size" value="<!-- VAR STORAGE_MAX_SIZE -->" class="in_line" size="15" maxlength="15"></td>
 </tr>

</table>

<br>

<center>
<input type="submit" name="ok" value="Готово" onClick="JavaScript: reload_parent(500)">
</center>

<br>
</form>

</td></tr>
</table>

</center>
<br>

<!--#include virtual="/ssi/down.html" -->
