<center>
<br>
<table border="0" background="/img/back_form.jpg" width="95%" class="cell_border">
<tr>
<!--#access=admins,operators { -->
  <td><nobr><a href="/tpl?file=/bases/index.html" title="Базы"><img src="/img/bases_48.png" border="0"></a>&nbsp;<img src="/img/vline.png" border="0">&nbsp;</nobr></td>
<!-- } -->

<!--#access=admins,report { -->
  <td><nobr><a href="/tpl?file=/reports/index.html" title="Отчеты"><img src="/img/chart.png" border="0"></a>&nbsp;<img src="/img/vline.png" border="0">&nbsp;</nobr></td>
<!-- } -->

<!--#access=admins { -->
  <td><nobr><a href="/tpl?file=/adm/index.html" title="Администрирование"><img src="/img/gear_48.png" border="0"></a>&nbsp;<img src="/img/vline.png" border="0">&nbsp;</nobr></td>
<!-- } -->

  
  <td width="100%"></td> 
  <td><nobr>&nbsp;<img src="/img/vline.png" border="0">&nbsp;<a href="JavaScript: open_big_object('/cmd?act=user.current_show&sys_ns=1');" title="Информация о пользователе"><img src="/img/info_48.png" border="0"></a></nobr></td>
  <td><nobr>&nbsp;<img src="/img/vline.png" border="0">&nbsp;<a href="JavaScript: open_big_object('/tpl?file=/help/help_index.html&sys_ns=1');" title="Помощь"><img src="/img/help_48.png" border="0"></a></nobr></td>
  <td><nobr>&nbsp;<img src="/img/vline.png" border="0">&nbsp;<a href="/" title="Выход"><img src="/img/close_48.png" border="0"></a></nobr></td>
</tr>
</table>
</center>
