<!--#include virtual="/ssi/up.html" -->

<!-- <Link type="text/css" rel="stylesheet" href="style.css"> -->

<script>
function check_fill()
{
   if (document.forms['workstation_form'].dns_name.value==0) { alert('Введите сетевое (DNS) имя.'); return false; }
   if (document.forms['workstation_form'].vname.value==0) { alert('Введите название.'); return false; }
   if (document.forms['workstation_form'].place.value==0) { alert('Введите расположение.'); return false; }
   if (document.forms['workstation_form'].work_dir.value==0) { alert('Введите путь к рабочему каталогу.'); return false; }

   reload_parent(500);
   return true;
}
</script>

<br>
<center>

<table border="0" width="95%" background="/img/back_form.jpg" class="cell_border">
<tr>
<td>

<form action="/cmd" method="post" name="workstation_form" onsubmit="return check_fill();">
<input type="hidden" name="act" value="workstation.apply">
<input type="hidden" name="id" value="<!-- VAR ID -->">

<h1>Рабочая станция</h1>
<table border="0" width="100%">

 <tr>
  <td><nobr>Сетевое (DNS) имя:</nobr></td>
  <td><input type="text" name="dns_name" value="<!-- VAR DNS_NAME -->" class="in_line" size="32" maxlength="64"></td>
 </tr>

 <tr>
  <td><nobr>Название:</nobr></td>
  <td width="100%"><input type="text" name="vname" value="<!-- VAR VNAME -->" class="in_line" size="32" maxlength="64"></td>
 </tr>

 <tr>
  <td><nobr>Расположение:</nobr></td>
  <td width="100%"><input type="text" name="place" value="<!-- VAR PLACE -->" class="in_line" size="32" maxlength="128"></td>
 </tr>
 
 <tr>
  <td><nobr>Путь к рабочему каталогу:</nobr></td>
  <td width="100%"><input type="text" name="work_dir" value="<!-- VAR WORK_DIR -->" class="in_line" size="32" maxlength="64"></td>
 </tr>

</table>

<br>

<center>
<input type="submit" name="ok" value="Готово" onClick="JavaScript: reload_parent(500)">
</center>

<br>
</form>

</td></tr>
</table>

</center>
<br>

<!--#include virtual="/ssi/down.html" -->
