<!--#include virtual="/ssi/up.html" -->
<!--#include virtual="/ssi/main_menu.html" -->
<!--#access=admins { -->
<!--#include virtual="/adm/menu.html" -->
<!-- } -->

<script language="JavaScript">

var append_all=<!-- VAR APPEND_ALL -->

function select_done(id,name)
{
  if (opener)
  {
    //alert(id);    
    if (append_all==1)
      location.href='/cmd?act=sys_return'+'&0='+id+'&1='+name+'*';
    else
      location.href='/cmd?act=sys_return'+'&0='+id+'&1='+name;
  }
  else
  {
    close;
  }
}

function show(id)
{
  open_object('/cmd?act=workstation.show&sys_ns=1'+'&id='+id);
}

</script>

<br>

<h3>Рабочие станции</h3>
<center>

<table  background="/img/back_form.jpg" border="0" width="95%" class="cell_border">
<tr class="trow_ch">
 <td class="thead_cell"><nobr>&nbsp;</nobr></td>
 <td class="thead_cell"><nobr>Сетевое (DNS) имя</nobr></td>
 <td class="thead_cell"><nobr>Название</nobr></td>
 <td class="thead_cell"><nobr>Расположен</nobr></td>
 <td class="thead_cell"><nobr>Рабочий каталог</nobr></td>
</tr>
<!-- SECTION WS_LINE -->
<tr class="trow_c<!-- VAR LINE_MOD -->">
 <td class="in_line_box"><nobr>&nbsp;</nobr></td>
 <td class="in_line_box">
 <nobr>
  <script>
    if (opener)
      { document.write('<a href="JavaScript: select_done(\'<!-- VAR ID -->\',\'<!-- VAR DNS_NAME -->\');">'); }
    else
      { document.write('<a href="JavaScript: show(\'<!-- VAR ID -->\');">'); }
  </script>
  <!-- VAR DNS_NAME --></a>
 </nobr></td>
 <td class="in_line_box"><!-- VAR VNAME --></td>
 <td class="in_line_box"><!-- VAR PLACE --></td>
 <td class="in_line_box"><!-- VAR WORK_DIR --></td>
</tr>

<!-- SECTION END -->
<tr class="trow_ch">
 <td class="thead_cell"><a href="JavaScript: open_object('/cmd?act=workstation.new&sys_ns=1');"><img src="/img/new_object.gif" border="0"></a>
 </td>
 <td class="thead_cell" colspan="5"><nobr>&nbsp;</nobr></td>
</tr>


</table>

</center>

<!--#include virtual="/ssi/down.html" -->
